.guider_form .van-hairline--top-bottom::after{
    border-width:0;
}
.box_shadow_toGuider{
    padding-bottom:0;
}
.JL_sex{
    display: flex;
}
.jls_girl{
    margin-left: 0.4rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {

    color: #ECECEC !important;

}

input:-moz-placeholder, textarea:-moz-placeholder {

     color: #ECECEC !important;

}

input::-moz-placeholder, textarea::-moz-placeholder {

    color: #ECECEC !important;

}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {

    color: #ECECEC !important;

}

