<!-- 请假日历 向导侧-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>向导日历</title>
    <!-- less -->
    <link rel="stylesheet/less"  href="vue-mobile-calendar/inlineCalendar.less">
    <!-- cubeUI -->
    <link rel="stylesheet" href="vue-mobile-calendar/cube/cube.min.css">

    <link rel="stylesheet" href="vue-mobile-calendar/my.css">
    <link rel="stylesheet" href="vue-mobile-calendar/mydate.css">
    <!-- vant ui -->
    <link rel="stylesheet" href="css/vant.css">
    <style>
        [v-cloak]{
            display: none !important;
        }
        .van-loading{
            position: fixed;
            top: 50%;
            margin-top: -38px;
            left: 0;
            right: 0;
            z-index:1000;
        }
        .van-loading__text{
            color:#1989fa;
        }
        .van-overlay{
            background-color:rgba(255,255,255,.7);
        }
    </style>
</head>
<body style="padding:0.15rem;">
    <div id="app" v-cloak>
        <!-- 日历部分 -->
        <div class="m-calendar" ref="calendar">
                <!-- 年份月份 导航 -->
                <div class="m-toolbar">
                    <div class="m-year-selector PFSC_Regular title_year_month" style="justify-content:start;padding:0">
                    <!-- <a class="m-prev-btn" @click="changeYear('prev')"></a> -->
                    <span>{{showDate.year}}{{yearName}}</span>
                    <span>{{monthNames[showDate.month-1]}}</span>        
                    <!-- <a class="m-next-btn" @click="changeYear('next')"></a> -->
                    </div>
                    <!-- <div class="m-month-selector">
                    <a class="m-prev-btn" @click="changeMonth('prev')"></a>
                    
                    <a class="m-next-btn" @click="changeMonth('next')"></a>
                    </div> -->
                </div>
                <!-- 星期 的导航 -->
                <div class="m-week-header PFSC_Regular week_nav">
                    <div
                    class="m-week-day"
                    v-for="item in weekNames"
                    :key="item"
                    >
                    {{item}}
                    </div>
                </div>
                <!-- 具体的日期 -->
                <div
                    class="m-months-container"
                    @touchstart="touchstart"
                    @touchmove="touchmove"
                    @touchend="touchend"
                >
                    <div
                    class="m-months-wrapper"
                    :style="{'transform': `translate3d(${-translateX*100}%, 0, 0)`}"
                    >
                    <div
                        class="m-months"
                        v-for="(month,monthIndex) in fullDate"
                        :myData="monthIndex"
                        :key="monthIndex"
                        :style="{
                        transform: `translate3d(${(monthIndex-1+translateX + (isTouching ? touch.x : 0))*100}%, 0, 0)`,
                        transitionDuration: isTouching ? '0s' : '.3s',
                        }"
                    >
                        <div
                        class="m-row"
                        v-for="(week,weekIndex) in month"
                        :key="weekIndex"
                        >
                        <div
                            class="m-day "
                            v-for="(day,dayIndex) in week"
                            :key="dayIndex"
                            
                            @click="onDayClick(day)"
                        >
                            <span
                            :class="{
                                'm-day-num':true,
                                'm-grey': day.isGrey,
                                'm-today': day.isToday,
                                'm-disable': day.isDisable,
                                'm-select': day.isSelect,
                                'm-during': day.isDuring,
                                'm-jia':day.isJia,
                                'm-hidden':day.isHidden,
                                'm_date_time': day.isDateItem
                            }"
                            :db_morning="day.morning"
                            :db_afternoon="day.afternoon"
                            :db_nigth="day.night"
                            class="Avenir_Roman "
                            >
                            {{day.value}}
                            
                            </span>
                            <!-- 早中晚 -->
                            <div class="show_shedules morning_noon_afternoon">
                                <span 
                                v-show="day.is_morning"
                                class="morn_bgcolor"></span>
                                <span
                                v-show="day.is_afternoon" 
                                class="afternoon_bgcolor"></span>
                                <span 
                                v-show="day.is_night"
                                class="night"></span>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>

        <!-- 展示早中晚 -->
        <div class="show_time">
            <p class="st_title">项目选择</p>
            <div class="m_a_n">
                <div 
                class="morning_wrapper time_item"
                :class="[{ 
                            morningIsActive: this.state_jia.morning.isSelected,
                            morningIsSchedule: this.state_jia.morning.isSchedule, 
                            morningIsJia:      this.state_jia.morning.isJia 
                        }]"
                @click="onJiaClick('m')">
                    <div class="ti_img"><img src="img/timg.jpg" alt=""></div>
                    <p>{{ state_jia.morning.txt }}</p>
                </div>
                <div 
                class="afternoon_wrapper time_item"
                :class="[{ 
                            afternoonIsActive: this.state_jia.afternoon.isSelected,
                            afternoonIsSchedule:this.state_jia.afternoon.isSchedule ,
                            afternoonIsJia:      this.state_jia.afternoon.isJia 
                        }]"
                @click="onJiaClick('a')">
                    <div class="ti_img"><img src="img/timg.jpg" alt=""></div>
                    <p>{{ state_jia.afternoon.txt }}</p>
                </div>
                <div 
                class="night_wrapper time_item"
                :class="[{  
                            nightIsActive: this.state_jia.night.isSelected,
                            nightIsSchedule:this.state_jia.night.isSchedule ,
                            nightIsJia:      this.state_jia.night.isJia 
                        }]"
                @click="onJiaClick('n')">
                    <div class="ti_img"><img src="img/timg.jpg" alt=""></div>
                    <p>{{ state_jia.night.txt }}</p>
                </div>
            </div>
        </div>
        <!-- 确定 -->
        <div>
            <!-- click= -->
            <div  class="gradient confirm_date" @click="confirm_jia">{{ submitBtnTxt }}</div>
        </div>
        <!-- 加载中 -->
        <van-loading v-show="showVisible" color="#1989fa" type="spinner" size="48px" vertical>加载中...</van-loading>
        <van-overlay :show="showVisible"  ></van-overlay>
        <!-- 提示 -->
        <van-dialog id="van-dialog" ></van-dialog>    
    </div>
    <!-- dayjs  calendar_umd.js vue.js -->
    <script src="js/jquery.js"></script>
    <script src="js/rem.js"></script>
    <script src="vue-mobile-calendar/vue.js"></script>
    <!-- gp公有url -->
    <script src="js/commonUrl.js"></script>
    <!-- gp日期模块 -->
    <script src="js/utils.js"></script>
    <!-- cubeUI -->
    <script src="vue-mobile-calendar/cube/cube.min.js"></script>

    <script src="vue-mobile-calendar/Calendar.umd.min.js"></script>
    <script src="vue-mobile-calendar/dayjs.min.js"></script>
    <!-- vant -->
    <script src="js/vant.js"></script>
    <script>
        if (!window.Promise) {
            document.write('<script src="//cdn.jsdelivr.net/npm/es6-promise@4.1.1/dist/es6-promise.min.js"><\/script><script>ES6Promise.polyfill()<\/script>')
        }
    </script>
    <script>
        
        let touchStartPosition; // 触发起点
        let touchEndPosition;   // 触发终点
        let timeStamp;          // 时间戳  
        
        let vm = new Vue({
            el: '#app',
            props: {
               
                // defaultDate: {
                //     type: [Date, Number, Array, String, dayjs],
                // },
                
                // disabledDate: {
                //     type: Array,
                //     default() {
                //         return [];
                //     },
                // },

                // minDate: {
                // type: [Date, Number, Array, String, dayjs],
                // },
                // maxDate: {
                //     type: [Date, Number, Array, String, dayjs],
                // },

                // 单选 或是 多选
                mode: {
                    type: String,
                    default: 'multiple',
                },
                // 日期点击 函数
                // dayClick: {
                //     type: Function,
                //     default() {
                //         return function() {
                //             return true;
                //         };
                //     },
                // },
                // enableTouch: {
                //     type: Boolean,
                //     default: true,
                // },
                
                // monthNames: {
                //     type: Array,
                //     default() {
                //         return ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'];
                //     },
                // },
                // weekNames: {
                //     type: Array,
                //     default() {
                //         return ['一', '二', '三', '四', '五', '六', '日'];
                //     },
                // },
                // yearName: {
                //     type: String,
                //     default: '年',
                // },
            },
            watch: {
                mode() {
                    this.init();
                }
            },
            data: { 
                showVisible:false,               
                // data 
                fullDate: [[], [], []], // 二维数组
                translateX: 0,
                showDate: {
                    year: undefined,
                    month: undefined,
                },
                dateNow: {  // 当前日期
                    year: dayjs().year(),
                    month: dayjs().month() + 1,
                    date: dayjs().date(),
                },
                selectDate: [],

                //保存用户选中的请假的数据
                clone_selectDate: [],  
                // 当月请假数据:存储当月来自后台的请假数据
                schedulesArr : [], 

                state_jia: {    // 设置请假的状态
                    //       状态        是否预约         是否请假        是否选中
                    morning:{state:'0',isSchedule:false, isJia:false, isSelected:false,txt:'晨光出行'},
                    afternoon:{state:'0', isSchedule: false, isJia: false, isSelected: false,txt:'暖阳午后'},
                    night:{state:'0', isSchedule: false, isJia: false, isSelected:false,txt:'星空夜景'}

                },
                submitBtnTxt: '请假',  // 提交按钮的文字
                touch: {
                    x: 0,
                    y: 0,
                },
                isTouching: false,

               

                // 调用次数测试 
                countTime: 0,
                //  来自于 props
                defaultDate: null,
                
                disabledDate: [],

                minDate: null,
                maxDate: null,

                // 单选 或是 多选
                // mode: 'multiple',
                // 日期点击 函数
                dayClick: function(){return true},
                enableTouch: true,
                
                // 月数组
                monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                weekNames: ['一', '二', '三', '四', '五', '六', '日'],
                yearName: '年'
                
            },
            
            created() {
                
                // 获取后台数据
                this.getDateData();

                // this.init();
                // dayjs对象                          
            },
            mounted(){
                // 确认 弹框
                // this.showBtn();
            },
            methods: {
                
                init(date) {
                                       
                
                    this.selectDate = [];
                                    
                    let { defaultDate, mode } = this;
                    if (date) {
                        defaultDate = date;
                    }
                    let dateToShow = dayjs().startOf('month');
                    if (mode === 'single' && defaultDate) {
                        this.selectDate = dayjs(defaultDate).startOf('day');
                        dateToShow = this.selectDate.startOf('month');
                    }
                    if (mode === 'multiple' && Array.isArray(defaultDate)) {
                        
                        if (defaultDate.length > 0) {
                        this.selectDate = defaultDate.map((item) => dayjs(item).startOf('day'));
                        }
                    }
                    if (mode === 'during' && Array.isArray(defaultDate)) {
                        if (defaultDate.length === 2) {
                        const startDate = dayjs(defaultDate[0]).startOf('day');
                        const endDate = dayjs(defaultDate[1]).startOf('day');
                        if (startDate.isBefore(endDate) || startDate.isSame(endDate)) {
                            this.selectDate = [startDate, endDate];
                        }
                        }
                    }
                    this.showDate = { 
                        year: dateToShow.year(),
                        month: dateToShow.month() + 1,
                    };
                    this.getFullDate(this.showDate);
                },
                touchstart(event) {
                if (this.enableTouch) {
                    touchStartPosition = event.touches[0].clientX;
                    touchEndPosition = event.touches[0].clientY;
                    timeStamp = event.timeStamp;
                    this.touch = {
                    x: 0,
                    y: 0,
                    };
                    this.isTouching = true;
                }
                },
                touchmove(event) {
                if (this.enableTouch) {
                    this.touch = {
                    x: (event.touches[0].clientX - touchStartPosition) / this.$refs.calendar.offsetWidth,
                    y: (event.touches[0].clientY - touchEndPosition) / this.$refs.calendar.offsetHeight,
                    };
                }
                },
                touchend(event) {
                    if (this.enableTouch) {
                        this.isTouching = false;
                        const during = dayjs(event.timeStamp).diff(timeStamp);
                        if (Math.abs(this.touch.x) > Math.abs(this.touch.y) && Math.abs(this.touch.x * this.$refs.calendar.offsetWidth) > 20) {
                        if (this.touch.x > 0) {
                            this.changeMonth('prev');
                        } else if (this.touch.x < 0) {
                            this.changeMonth('next');
                        }
                        } else {
                        this.touch = {
                            x: 0,
                            y: 0,
                        };
                        }
                    }
                },
                // 触发change事件
                emitChange() {
                    this.$emit('change', this.selectDate);
                },
                // 触发切换年月事件
                emitSwitch(showDate) {
                    this.$emit('switch', showDate);
                },
                // 日期点击事件
                onDayClick(day) {
                    
                    if (!this.dayClick(day.dateTime)) {                   
                        return;
                    }
                                        
                    
                    switch (this.$props.mode) {
                        case 'single':
                            if (!day.isSelect && !day.isDisable) {
                            this.selectDate = day.dateTime;
                            this.getFullDate(this.showDate);
                            this.emitChange();
                            }
                            break;
                        // 多选
                        case 'multiple':
                            
                            if (!day.isSelect && !day.isDisable) { //没有被选中 且  没有被禁用
                                
                                // 提交按钮的文字
                                this.submitBtnTxt = '请假';

                                this.selectDate.push(day.dateTime);
                                
                                //克隆数组 :存储数据                                
                                let jia_obj = { 
                                        morning: day.morning,
                                        afternoon:day.afternoon,
                                        night:day.night,
                                        schedul_date:day.dateTime.format('YYYY-MM-DD'),
                                        dateTime: day.dateTime
                                    }                                
                                this.clone_selectDate.push(jia_obj);
                                
                                //gp 判断是否符合选择要求
                                this.showJiaItem()
                                                                                      
                                // console.log(this.clone_selectDate);
                                this.getFullDate(this.showDate); //当前 页的 年月
                                // console.log(day)
                                
                                this.emitChange();
                            } else {
                                // 至少剩余俩
                                if (this.selectDate.length > 1) {
                                //    console.log(this.selectDate)
                                    this.selectDate = this.selectDate.filter((item) => !item.isSame(day.dateTime));
                                    //  克隆数组也要更新
                                    this.clone_selectDate = this.clone_selectDate.filter((item) => !item.dateTime.isSame(day.dateTime));

                                    // gp 测试                                                                    
                                    // reduce 之后 初始化 
                                    this.checkJiaItem();

                                    this.getFullDate(this.showDate);                                                                        
                                    this.emitChange();
                                }
                                // 最后一个的时候
                                if(this.selectDate.length == 1) {
                                    this.selectDate = this.selectDate.filter((item) => !item.isSame(day.dateTime));
                                    //gp  克隆数组也要更新
                                    this.clone_selectDate = this.clone_selectDate.filter((item) => !item.dateTime.isSame(day.dateTime));
                                    //gp 测试
                                    this.checkJiaItem();

                                    this.getFullDate(this.showDate);
                                    this.emitChange();
                                }
                            }
                            break;
                        case 'during':
                            if (day.isDisable) return;
                            if (this.selectDate.length === 0) {
                            this.selectDate = [day.dateTime];
                            } else if (this.selectDate.length === 1) {
                            this.selectDate.push(day.dateTime);
                            if (this.selectDate[1].isBefore(this.selectDate[0])) {
                                this.selectDate.reverse();
                            }
                            } else if (this.selectDate.length === 2) {
                            this.selectDate = [day.dateTime];
                            }
                            this.getFullDate(this.showDate);
                            this.emitChange();
                            break;
                    }
                },
                
                // 切换年份
                changeYear(action) {
                    const date = dayjs(`${this.showDate.year}-${this.showDate.month}`);
                    let computedDate;
                    switch (action) {
                    case 'prev':
                        this.translateX += 1;
                        computedDate = date.subtract(1, 'year');
                        break;
                    case 'next':
                        this.translateX -= 1;
                        computedDate = date.add(1, 'year');
                        break;
                    }
                    this.showDate = {
                        year: computedDate.year(),
                        month: computedDate.month() + 1,
                    };
                    this.emitSwitch(this.showDate);
                    this.getFullDate(this.showDate);
                },
                // 切换月份
                changeMonth(action) {
                    
                    
                    const date = dayjs(`${this.showDate.year}-${this.showDate.month}`);
                    let computedDate;
                    switch (action) {
                        case 'prev':
                            this.translateX += 1;
                            computedDate = date.subtract(1, 'month');
                            break;
                        case 'next':
                            this.translateX -= 1;
                            computedDate = date.add(1, 'month');
                            break;
                    }
                    this.showDate = {
                        year: computedDate.year(),
                        month: computedDate.month() + 1,
                    };
                    
                    this.emitSwitch(this.showDate);
                    this.getFullDate(this.showDate);
                },
                // 暴露出去的方法：切换已选的时间
                changeDate(date) {
                    
                    if (!dayjs(date).isValid()) {
                        console.error('Type of parameter is invalid!');
                    }
                    this.init(date);
                },
                // 暴露出去的方法：切换当前显示的时间
                changeDateView(date = dayjs()) {
                    const changeDate = dayjs(date);
                    
                    this.showDate = {
                        year: changeDate.year(),
                        month: changeDate.month() + 1,
                    };
                    
                    this.getFullDate(this.showDate);
                },
                getFullDate() {

                    // 当前月;展示月;做差取合理区间
                    // let current_M = dayjs(this.dateNow.year+'-'+this.dateNow.month);                   
                    // let show_M    = dayjs(this.showDate.year+'-'+this.showDate.month);
                    // let diff_M    = show_M.diff(current_M, 'month');
                    // // 若 0 < diff_M  < 3 请求数据
                    // if(diff_M >= 0 && diff_M < 3){
                    //     console.log('处于显示区域');
                    // }else{
                    //     console.log('禁区')
                    // }
                                                          

                    // 得到当前 年月 的 Dayjs 对象
                    const date = dayjs(`${this.showDate.year}-${this.showDate.month}`);
                    
                    const thisDate = this.getDate(date);                      // 当月                
                    const prevDate = this.getDate(date.subtract(1, 'month')); // 上月
                    const nextDate = this.getDate(date.add(1, 'month'));      // 下月
                    this.fullDate = [
                        prevDate.fullDate,
                        thisDate.fullDate,
                        nextDate.fullDate,
                    ];
                },
                // 当前日期是否被选中
                isSelect(date) {
                    let select = false;
                    switch (this.$props.mode) {
                        case 'single':
                            if (this.selectDate && date.isSame(this.selectDate)) {
                            select = true;
                            }
                            break;
                        case 'multiple':
                            if (this.selectDate.length > 0 && this.selectDate.some((item) => date.isSame(item))) {
                                select = true;
                            }
                            break;
                    }
                    return select;
                },
                // 当前时间是否在selectDate之间
                isBetting(date) {
                if (this.mode === 'during') {
                    const startDate = this.selectDate[0];
                    const endDate = this.selectDate[1];
                    if (this.selectDate.length === 1) {
                    return date.isSame(startDate);
                    } else if (this.selectDate.length === 2) {
                    return (date.isAfter(startDate) && date.isBefore(endDate)) || date.isSame(startDate) || date.isSame(endDate);
                    }
                }
                return false;
                },
                getIsDisable(dateTime) {
                let isDisable = false;
                const disabledDate = this.disabledDate.map((item) => dayjs(item).startOf('day'));
                if (this.minDate || this.maxDate) {
                    if (this.minDate) {
                    const minDate = dayjs(this.minDate).startOf('day');
                    isDisable = dateTime.isBefore(minDate);
                    }
                    if (!isDisable && this.maxDate) {
                    const maxDate = dayjs(this.maxDate).endOf('day');
                    isDisable = dateTime.isAfter(maxDate);
                    }
                } else if (disabledDate.length > 0) {
                    if (this.mode !== 'during') {
                    isDisable = disabledDate.some((item) => item.isSame(dateTime));
                    }
                }
                return isDisable;
                },
                getDate(thisDate) {  
                    
                    let date = [];
                    
                    const prevDate = thisDate.subtract(1, 'month');  
                    // console.log(prevDate);                  
                    const nextDate = thisDate.add(1, 'month');
                    const firstDayOfWeek = thisDate.day() || 7;  // 本月第一天是周几
                    
                     
                    const dayCountOfThisMonth = thisDate.daysInMonth(); // 当月天数：31

                    const dayCountOfPrevMonth = prevDate.daysInMonth(); // 上个月 30

                    const prevIndexOfThisMonth = firstDayOfWeek - 1;    // 
                    
                    
                    // console.log(prevIndexOfThisMonth)

                    const NextIndexOfThisMonth = firstDayOfWeek + dayCountOfThisMonth - 2;
                    const disabledDate = this.disabledDate.map((item) => dayjs(item).startOf('day'));
                    
                    for (let i = 0; i < 7 * 6; i++) {
                        // 上月
                        if (i < prevIndexOfThisMonth) {
                            const value = dayCountOfPrevMonth - (firstDayOfWeek - i - 2);
                            const dateTime = prevDate.date(value);
                            date[i] = { // 相当于 day
                                value,
                                dateTime,
                                isHidden:true,
                                isGrey: true,
                                isToday: dateTime.isSame(dayjs().startOf('day')),
                                isSelect: false,         // this.isSelect(dateTime)
                                isDisable: true,    //this.getIsDisable(dateTime)
                                isDuring: this.isBetting(dateTime),
                            };
                            
                        }
                        // 当月
                        if (
                            i >= prevIndexOfThisMonth &&
                            i <= NextIndexOfThisMonth
                        ) {
                            const value = i - firstDayOfWeek + 2;
                            
                            const dateTime = thisDate.date(value);   //返回 当前日期的 Dayjs 对象
                            
                            // gp判断 后台数据 映射到 页面
                            
                            // 展示 是否预约
                            let is_morning = false; 
                            let is_afternoon = false; 
                            let is_night = false;
                            
                            // 展示请假
                            let isJia = false; // 默认没假
                            // 存状态
                            let db_morning = '0';
                            let db_afternoon = '0';
                            let db_night = '0';
                            
                            for(let i = 0; i < this.schedulesArr.length; i++){
                               
                                if(dateTime.format('YYYY-MM-DD') == this.schedulesArr[i].schedul_date){
                                    // 判断 早 中 晚                                     
                                    db_morning = this.schedulesArr[i].morning;  //数据库 早
                                    db_afternoon = this.schedulesArr[i].afternoon;// 数据库 中
                                    db_night = this.schedulesArr[i].night;// 数据库 晚
                                    // 早
                                    if( db_morning  == 0 ){ // 0
                                        is_morning = false                                        
                                        isJia = false;
                                    }else if( db_morning == 2 ){ // 2 请假
                                        is_morning = false
                                        isJia = true   //  代表 有假
                                    }else{
                                        is_morning = true   //  代表状态是1： 已预约
                                        isJia = false;                                      
                                    }
                                    //  中
                                    if( db_afternoon  == 0 ){ // 0
                                        is_afternoon = false
                                        isJia = false;
                                    }else if( db_afternoon == 2 ){
                                        is_afternoon = false
                                        isJia = true
                                    }else {
                                        is_afternoon = true
                                        isJia = false;
                                    }
                                    // 晚
                                    if( db_night  == 0 ){ // 0
                                        is_night = false
                                        isJia = false;
                                    }else if( db_night == 2 ){
                                        is_night = false
                                        isJia = true
                                    }else {
                                        is_night = true
                                        isJia = false;
                                    }
                                    
                                }
                            }
                            //只要比今天时间早 或者 大于今天两个月的时间 就不让点击
                            // 点击的日期在当前日期之后 且在两月之内
                           
                            let dateNow_date = dayjs(this.dateNow.year+'-'+this.dateNow.month+'-'+this.dateNow.date);  //今天(最小日期)                    
                            let Now_date = dayjs(dateTime.$y+'-'+(dateTime.$M*1+1)+'-'+dateTime.$D);   //本月的每一天【i】日期    
                            let dateMax_date = dayjs(dateNow_date).add(2,'month').endOf('month');              //最大日期
                            // 有效的日期点击区域
                            // 区间内 则true  否则 false
                            let _valid_date = Now_date.diff(dateNow_date)>= 0 && dateMax_date.diff(Now_date) >= 0; 
                            let _fobidden = true;
                            if(_valid_date){    // 区间内 不禁用 
                                _fobidden = false
                            }else{              // 区间外  禁用
                                _fobidden = true
                            }
                            

                            date[i] = {
                                value,
                                dateTime,
                                isGrey: _fobidden,
                                isHidden:false,
                                isToday: dateTime.isSame(dayjs().startOf('day')),
                                isSelect: this.isSelect(dateTime),
                                isDisable: _fobidden,    // this.getIsDisable(dateTime)
                                isDuring: this.isBetting(dateTime),
                                // gp新添加  
                                // 存数据(该数据来自于数据库)
                                morning:db_morning,  
                                afternoon: db_afternoon,
                                night: db_night,
                                // 展示  预约
                                is_morning: is_morning,
                                is_afternoon: is_afternoon,
                                is_night: is_night,
                                // 展示 请假
                                isJia: isJia,
                                // 设置字体颜色
                                isDateItem:!_fobidden
                            };

                        }
                        // 下月
                        if (i > NextIndexOfThisMonth) {
                        const value = i - firstDayOfWeek - dayCountOfThisMonth + 2;
                        const dateTime = nextDate.date(value);
                        date[i] = {
                            value,
                            dateTime,
                            isGrey: true,
                            isHidden:true,
                            isToday: dateTime.isSame(dayjs().startOf('day')),
                            isSelect: false,      // this.isSelect(dateTime)
                            isDisable: true, // this.getIsDisable(dateTime)
                            isDuring: this.isBetting(dateTime),
                        };
                        }
                    }
                    // 设置 所有的日期
                    const fullDate = [];
                    for (let i = 0; i < 6; i++) {
                        fullDate.push(date.slice(i * 7, (i + 1) * 7));
                    }
                    
                    // let oneLevel_fullDate = [].concat.apply([], fullDate);
                    // console.log(oneLevel_fullDate);
                    return {
                        fullDate,
                    };
                },
                // 根据 data中的 state_jia 的状态 来定
                onJiaClick(when){

                    // 先判断 数组长度 ：1空则提示先选中一个日期；2若一个则判断预约情况，是否有资格选中；3若多个，则下面都是空白
                    if(this.clone_selectDate.length == 0){  //  空数组 
                        // 提示选日期    
                        this.messageTip('请预先选中日期');
                    }else if(this.clone_selectDate.length == 1){    // 一天
                        // 判断有没有预约的情况，如果没有才可以点击
                        let currentDate = this.clone_selectDate[0];
                       
                        switch(when){
                            case  'm':  // 早
                                // 判断 早晨有没有预约
                                                                
                                this.single_selectedTimes('morning', currentDate);
                                                     
                                break;
                            case  'a':  // 中
                                this.single_selectedTimes('afternoon', currentDate);
                                break;
                            case  'n':  // 晚
                                this.single_selectedTimes('night', currentDate);
                                break;
                            default  :
                                break;
                        }
                        
                    }else if(this.clone_selectDate.length > 1){     // 多天(此时的多天是'完全没有假的')
                        
                        for(let i = 0; i < this.clone_selectDate.length; i++){
                            switch(when){
                                case 'm':   // 选中早晨
                                    
                                    // isSelected isJia isSchedule  txt                                    
                                    // 先判断当前选中了吗？
                                    
                                    
                                    if(this.clone_selectDate[i].morning == '0'){ // 根据 0 2来切换；
                                        
                                        this.state_jia.morning.isSelected = true; // 选中
                                       
                                        this.state_jia.morning.isJia = false ; // 为什么isJia不是true,因为提交后才可以变灰
                                        this.clone_selectDate[i].morning = '2'; 
                                    }else{
                                        
                                        this.state_jia.morning.isSelected = false; 
                                        this.state_jia.morning.isJia = false ; 
                                        this.clone_selectDate[i].morning = '0'; 
                                    } 
                                                                
                                    break;
                                case 'a':
                                    // isSelected isJia isSchedule  txt
                                                               
                                    // 先判断当前选中了吗？
                                    if(this.clone_selectDate[i].afternoon == '0'){ // 根据 0 2来切换；
                                        this.state_jia.afternoon.isSelected = true; // 选中
                                        this.state_jia.afternoon.isJia = false ; // 为什么isJia不是true,因为提交后才可以变灰
                                        this.clone_selectDate[i].afternoon = '2'; 
                                    }else{
                                        this.state_jia.afternoon.isSelected = false; // 选中
                                        this.state_jia.afternoon.isJia = false ; // 为什么isJia不是true,因为提交后才可以变灰
                                        this.clone_selectDate[i].afternoon = '0'; 
                                    } 
                                          
                                    break;
                                case 'n':
                                    // isSelected isJia isSchedule  txt
                                    // 先判断当前选中了吗？
                                    if( this.clone_selectDate[i].night == '0'){ // 根据 0 2来切换；
                                        this.state_jia.night.isSelected = true; // 空白时  设置选中
                                        this.state_jia.night.isJia = false ; // 为什么isJia不是true,因为提交后才可以变灰
                                        this.clone_selectDate[i].night = '2'; 
                                        }else{
                                            this.state_jia.night.isSelected = false; // 选中时设置空白
                                            this.state_jia.night.isJia = false ; // 为什么isJia不是true,因为提交后才可以变灰
                                            this.clone_selectDate[i].night = '0'; 
                                    } 
                                      
                                    break;
                                default :
                                    break;
                            }
                        }
                    }
                    
                    // 判断 clone_selectDate的长度,如果一个则根据实际情况显示 否则如果多个
                    //  * 则显示clone_selectDate数组中 最后一个 元素的实际情况
                    // console.log( this.clone_selectDate )
                    
                   
                },
                // 展示 下面的 预约 情况
                showJiaItem(){

                    // 选中一个 直接显示假期情况
                    if(this.clone_selectDate.length == 1){
                        var current_obj =  this.clone_selectDate[0];   //当前数据
                        
                        // 早
                        switch(current_obj.morning){
                            case '0':
                            this.state_jia.morning.isSchedule = false; //早晨无预约 
                            // 修正
                            this.state_jia.morning.isJia = false; 
                            this.state_jia.morning.txt =  '晨光出行';
                                break;
                            case  '1':
                            this.state_jia.morning.isSchedule = true; //早晨有预约
                            this.state_jia.morning.isJia = false;
                            this.state_jia.morning.txt ='晨光出行已预约';
                                break;
                            case   '2':
                            this.state_jia.morning.isJia = true; //早晨已请假
                            this.state_jia.morning.isSchedule = false;
                            this.state_jia.morning.txt = '晨光出行已请假';
                                break;
                        }
                        // 中
                        switch(current_obj.afternoon){
                            case '0':
                            this.state_jia.afternoon.isSchedule = false; //中午无预约
                            // 修正
                            this.state_jia.afternoon.isJia = false; 
                            this.state_jia.afternoon.txt =  '暖阳午后';
                                break;
                            case  '1':
                            this.state_jia.afternoon.isSchedule = true; //中午有预约
                            this.state_jia.afternoon.isJia = false; 
                            this.state_jia.afternoon.txt =  '暖阳午后已预约';
                                break;
                            case   '2':
                            this.state_jia.afternoon.isJia = true; //中午已请假
                            this.state_jia.afternoon.isSchedule = false; 
                            this.state_jia.afternoon.txt =  '暖阳午后已请假';
                                break;
                        }
                        //  晚
                        switch(current_obj.night){
                            case '0':
                            this.state_jia.night.isSchedule = false; //晚上无预约
                            // 修正
                            this.state_jia.night.isJia = false; //既然是0，则不可能请假
                            this.state_jia.night.txt =  '星空夜景';
                                break;
                            case  '1':
                            this.state_jia.night.isSchedule = true; //晚上有预约
                            this.state_jia.night.isJia = false;
                            this.state_jia.night.txt =  '星空夜景已预约';
                                break;
                            case   '2':
                            this.state_jia.night.isJia = true; //晚上已请假
                            this.state_jia.night.isSchedule = false;
                            this.state_jia.night.txt =  '星空夜景已请假';
                                break;
                        }
                    }
                    // 选中零个  显示 当天
                    if(this.clone_selectDate.length == 0){

                    }
                    // 选中多个：先判断符合多选吗？符合则下面空白 不符合 则 提示
                    if(this.clone_selectDate.length > 1 ){
                        // 首先 判断 多个当中 有没有 已经预约 请假的情况，如果有 则不能 多选，否则可以多选
                        for(let j = 0; j < this.clone_selectDate.length; j++){
                            let current_date_obj = this.clone_selectDate[j]; // 当前日期对象
                            //看早晨
                            if(current_date_obj.morning != '0' ){ // 有情况，则不能多选
                                // 干掉 push进来的新日期
                                this.selectDate.pop();
                                this.clone_selectDate.pop();
                                // 提示 不要多选
                                this.messageTip('请单独处理已请假的项目');
                                return;
                               
                            // 看中午 
                            }else if(current_date_obj.afternoon != '0'){    // 有情况，则不能多选
                                // 干掉 push进来的新日期
                                this.selectDate.pop();
                                this.clone_selectDate.pop();
                                // 提示 不要多选
                                this.messageTip('请单独处理已请假的项目');
                                return;
                                
                            // 看晚上
                            }else if(current_date_obj.night != '0'){    // 有情况，则不能多选
                                // 干掉 push进来的新日期
                                this.selectDate.pop();
                                this.clone_selectDate.pop();
                                // 提示 不要多选
                                this.messageTip('请单独处理已请假的项目');
                                return;
                                
                            }
                        }
                        // 如果 没有 任何 预约 请假 情况，则 可以多选

                        // 初始化
                        this.initState_Jia();
                    }

                },
                // 检查假期状态
                checkJiaItem(){

                    // console.log(this.clone_selectDate);
                    
                    if(this.clone_selectDate.length == 0){// 若数组空，则假期也恢复初始状态
                        this.initState_Jia();
                    }
                    

                },
                // 初始化 请假状态
                initState_Jia(){
                    // 早
                    this.state_jia.morning.state = '0'; // 状态0
                    this.state_jia.morning.isSchedule = false;  // 未预约
                    this.state_jia.morning.isJia = false;       // 未请假
                    this.state_jia.morning.isSelected = false;  // 未选中
                    this.state_jia.morning.txt = '晨光出行';
                    // 中
                    this.state_jia.afternoon.state = '0';
                    this.state_jia.afternoon.isSchedule = false; 
                    this.state_jia.afternoon.isJia = false; 
                    this.state_jia.afternoon.isSelected = false;
                    this.state_jia.afternoon.txt = '暖阳午后';
                    // 晚
                    this.state_jia.night.state = '0'
                    this.state_jia.night.isSchedule = false; 
                    this.state_jia.night.isJia = false; 
                    this.state_jia.night.isSelected = false;
                    this.state_jia.night.txt = '星空夜景';
                },
                // 消假 确认框
                cancelJia(sum,when) {
                   
                    
                    this.$createDialog({
                        type: 'confirm',
                        // icon: 'cubeic-alert',
                        title: '',
                        content: '取消请假？',
                        confirmBtn: {
                        text: '确定',
                        active: true,
                        disabled: false,
                        href: 'javascript:;'
                        },
                        cancelBtn: {
                        text: '取消',
                        active: false,
                        disabled: false,
                        href: 'javascript:;'
                        },
                        onConfirm: () => {   // sum  是'1' 或者 'n'
                                                        
                            if(sum == '1'){  // 说明上面的日期  只选中了一个
                                var  lastIndex = this.clone_selectDate.length-1;
                                // 单选的情况下 判断是 早m 中a 晚n
                                if(when == 'm'){
                                    // 消假 早中晚
                                    this.state_jia.morning.isSelected = false;  //  取消选中
                                    this.state_jia.morning.isJia = false;  //
                                    this.state_jia.morning.txt = '晨光出行';  
                                    this.clone_selectDate[lastIndex].morning = '0'// 取消请假
                                }else if(when == 'a'){
                                    // 消假 早中晚
                                    this.state_jia.afternoon.isSelected = false;  //  取消选中
                                    this.state_jia.afternoon.isJia = false;  //
                                    this.state_jia.afternoon.txt = '暖阳午后';  
                                    this.clone_selectDate[lastIndex].afternoon = '0'// 取消请假
                                }else if(when == 'n'){
                                    // 消假 早中晚
                                    
                                    this.state_jia.night.isSelected = false;  //  取消选中
                                    this.state_jia.night.isJia = false;  //
                                    this.state_jia.night.txt = '星空夜景';     
                                    this.clone_selectDate[lastIndex].night = '0'// 取消请假
                                    
                                }
                                this.submitBtnTxt = '确认消假';
                                
                            }else if(sum == 'n'){   // 说明上面的日期  选中了多个
                                
                            }
                        },
                        onCancel: () => {
                            return;
                        }
                    }).show()
                },
                // 提示框
                messageTip(content){                    
                    this.$createDialog({
                        type: 'alert',
                        title: '角落里',
                        content: content,
                        // icon: 'cubeic-alert'
                    }).show()                   
                },
                // 提交时的二次 确认框
                secondConfirm(){
                    this.$createDialog({
                        type: 'confirm',
                        // icon: 'cubeic-alert',
                        title: '',
                        content: '确定进行该操作吗？',
                        confirmBtn: {
                        text: '确定',
                        active: true,
                        disabled: false,
                        href: 'javascript:;'
                        },
                        cancelBtn: {
                        text: '取消',
                        active: false,
                        disabled: false,
                        href: 'javascript:;'
                        },
                        onConfirm: () => {   // sum  是'1' 或者 'n'
                            // 提交数据至 后台            
                            this.postJiaData()
                        },
                        onCancel: () => {
                            return;
                        }
                    }).show()
                },
                // 选中一个！！！早中晚时间段 time: 'm':早 'a':中 'n':晚     current_dateTime:代表当前选中的时间
                single_selectedTimes(time, current_dateTime){ 

                    // console.log(this.schedulesArr);
                    const _resultArr = this.schedulesArr.filter(item => dayjs(item.schedul_date).isSame(dayjs(current_dateTime.schedul_date)));
                    
                    // 获取最后一个选中的元素                    
                    
                    // 获取 状态码  ： eg:早晨的morning
                    let timeState = this.clone_selectDate[0][time];
                    
                    if( timeState == '1'){
                        return;
                    }else if( timeState == '0' ){    // 未预约
                        // 必须注意如果 这里的0是由后台的请假 切换回未预约状态时 则要变灰，否则就是正常点击的情况
                        if(_resultArr.length > 0 && _resultArr[0][time] == '2'){ 
                            this.state_jia[time].isSelected = false;  // 设置选中
                            this.state_jia[time].isJia = true;      // 假
                            this.clone_selectDate[0][time] = '2'     // 值为2 
                            // 特殊处理 ：将修改的确认消假的按钮 改回 请假 的按钮
                            this.submitBtnTxt = '请假';
                        }else{
                            // 直接选中 并存值
                            this.state_jia[time].isSelected = true;  // 设置选中
                            this.state_jia[time].isJia = false;      // 取消假
                            this.clone_selectDate[0][time] = '2'     // 值为2     
                        }
                                           
                    }else{  //  如果2，则想消假  ;消假之前要判断这个假是本地刚设置的还是后台数据已有的请假
                            //  如果后台已有：则直接由灰变成选中色(蓝色)，如果后台没有则直接由白变蓝
                        if(_resultArr.length > 0 && _resultArr[0][time] == '2'){    //如果后台已经设置这段的请假则直接由灰到蓝
                            this.state_jia[time].isSelected = true; 
                            this.state_jia[time].isJia = false;       //保证由灰变蓝的正确性
                            this.clone_selectDate[0][time] = '0'// 值为消假即未预约
                            // 特殊处理：请假按钮变为确认消假
                            this.submitBtnTxt = '确认消假';
                            
                        }else{
                            this.state_jia[time].isSelected = false;  // 取消选中
                            this.state_jia[time].isJia = false;       //  取消假
                            this.clone_selectDate[0][time] = '0'// 值为0
                        }
                                                
                    }           
                    // this.state_jia[times].txt = txt;
                },
                // 点击 请假
                confirm_jia(){                    
                    // 先判断是否选中了 日期
                    if(this.clone_selectDate.length > 0){
                        // 二次确认 并 提交数据
                       this.secondConfirm();
                    }else{
                        // 提示 先选 日期
                        this.messageTip('请预先选中日期');
                    }
                   
                },
                //获取后台的日期数据
                getDateData(){
                    // 获取 token
                    // getToken();
                    const startDateRange = dayjs().format('YYYYMM');
                    const middleDateRange= dayjs().add(1, 'month').format('YYYYMM');
                    const endDateRange   = dayjs().add(2, 'month').format('YYYYMM');   
                    const dateRange = startDateRange+','+middleDateRange+','+endDateRange;
                                        
                    // 创建参数对象
                    let param = {
                        header_token: header_token,
                        url: commonURL_zhangzhen + '/api/travelerInfo/selectTravelerSchedul',
                        data: { 
                            // customid:'100000022',
                            schedul_month:dateRange
                        }                        
                    }      
                    this.showVisible = true              
                    // 异步获取后台日期数据  
                    myAjax(param).then(res =>{
                        if(res.code == '0000'){
                            this.schedulesArr = res.data.travelerSchedulList;
                            this.init();
                            this.showVisible = false 
                        }else{

                        }
                       
                    }).catch(err =>{

                    })
                    
                },
                
                // 把请假的数据 提交到后台
                postJiaData(){
                    
                    // 创建参数对象
                    const submit_param = {
                        header_token: header_token,
                        url: commonURL_zhangzhen + '/api/travelerInfo/addTravelerSchedul',
                        data: {
                            travelerSchedulList: this.clone_selectDate
                        }
                    }
                    // console.log(this.clone_selectDate);
                    // 异步存取数据
                    myAjax(submit_param).then(res =>{
                        if(res.code == '0000'){    
                            console.log('提交成功')
                            //提交成功之后 再去请求一遍新的数据 ，然后init()
                            // 清空一下 
                            this.clone_selectDate = [];
                            this.getDateData();
                            // this.schedulesArr = res.data.travelerSchedulList;
                        }
                    }).catch(err =>{

                    })
                   
                }
               
            }

        });
       


       
    </script>
</body>
</html>