<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>出行服务公约</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <style>
        [v-cloak]{
            display: none !important;
        }
    </style>
</head>
<body style="padding:0.15rem;">
    <div id="customPact" v-cloak>
        <h2 class="txt_center font16">{{ headerTxt }}</h2>
        <p class="font14" v-for="(item, index) in txt" :key="index">{{ item }}</p>
        <!-- 附录1 -->
        <p class="fulu">附录一</p>
        <h2 class="txt_center font16">{{ fu1Title }}</h2>
        <p class="level_title" v-for="(item, index) in level_txt11" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt11" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt12" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt12" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt13" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt13" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt14" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt14" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt15" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt15" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt16" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt16" :key="index">{{ item }}</p>
        <!-- 附录2 -->
        <p class="fulu">附录二</p>
        <h2 class="txt_center font16">{{ fu2Title }}</h2>
        <!-- <p class="level_title" v-for="(item, index) in level_txt21" :key="index">{{ item }}</p> -->
        <p class="font14" v-for="(item, index) in txt21" :key="index">{{ item }}</p>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/rem.js"></script>
    <script src="vue-mobile-calendar/vue.js"></script>
    <script>
        if (!window.Promise) {
            document.write('<script src="//cdn.jsdelivr.net/npm/es6-promise@4.1.1/dist/es6-promise.min.js"><\/script><script>ES6Promise.polyfill()<\/script>')
        }
    </script>
    <script>
        new Vue({
            el: '#customPact',
            data:{
                headerTxt:'角落里APP出行服务公约',
                txt:[
                    '亲爱的用户，在进入行程前请务必仔细阅并知晓本公约',
                    '1.角落里APP是为您提供旅游咨询服务以及线下出行的APP，解决您在当地关于旅游各方面的问题。',
                    '2.在您确认出行订单前，请仔细阅读并遵守《中国公民文明出行公约》和《出行安全须知及注意事项》',
                    '3.角落向导在为您服务时，为了避免其他不必要的肢体接触，双方的肢体接触仅限于礼貌的握手礼仪。',
                    '4.角落向导在为您服务时，禁止角落向导进入酒店客房、民宅、民宿、夜场、KTV等其他私密隐蔽空间。如您有相关要求，角落向导可拒绝进入。每位角落向导人员每次服务的人数限定为2-6人。',
                    '5.角落向导在为您服务时，您和角落向导如有共同产生的景点门票、景点内娱乐设施，交通以及餐饮等费用由您来全部承担。',
                    '6.角落向导在为您服务时，为保证服务质量，请勿邀请角落向导饮酒，吸烟等。',
                    '7.角落向导在为您服务时，角落里APP会全程在后台对角落向导进行录音和定位，以保证您和角落向导的人身安全以及监控角落向导的服务质量',
                    '8.角落向导在为您服务时，会拿出手机定时在角落里APP中上传实时动态。',
                    '9.角落向导在为您服务时，请勿向角落向导进行私下支付现金、微信红包、支付宝红包等金钱或者其他有价物品等。如果您对随行的服务很满意，可以在行程结束后在APP内对角落向导进行评价并赠送礼物。您的满意评价打赏是对角落里和角落向导的最大肯定。',
                    '10.您通过角落里平台进行旅游咨询和出行时，请务必遵守国家的一切法律法规和尊重地方的风俗习惯。如有违反，角落向导可拒绝本次服务并有作为公民进行举报或报警的权利。',
                    '11.在您确认订单时，即为认可和同意角落里APP服务公约，祝您行程愉快。',
                ],
                fu1Title:'出行安全须知及注意事项',
                fu2Title:'中国公民文明出行公约',
                
                txt11:[
                    '1、游客在机、车、船停稳后方可上下机、车、船。并按机场、车站、港口安全管理规定或指示标志通行及排队上下机、车、船；要讲究文明礼貌，先照顾老人、儿童、妇女；切勿拥挤，以免发生意外。请勿携带违禁物品。',
                    '2、在机、车、船临时停靠时期，服从服务人员安排，请勿远离。',
                    '3、游客在乘车途中，请不要与司机交谈和催促司机开快车，违章超速和超车行驶；不要将头、手、脚或行李物品伸出窗外，以防意外发生。',
                    '4、游客下车浏览、就餐、购物时，请注意关好出行车窗，贵重物品请自己随身携带并妥善保管。',
                    '5、游客乘坐飞机时，应注意遵守民航乘机安全管理规定，特别是不要在飞机上使用手机等无线电通讯工具或电子游戏等，建议全程系好安全带。',
                ],
                level_txt11:[
                    '为了增强游客安全意识，普及出行安全基本常识，使游客参加活动的计划圆满、愉快、顺利地完成，请认真阅读本须知并严格履行，防止意外事件。',
                    '一、乘车（机、船）安全事项',
                ],
                
                txt12:[
                    '1、游客入住酒店后，应了解酒店安全须知，熟悉酒店的太平门、安全出路、安全楼梯的位置和安全转移的路线。',
                    '2、注意检查酒店为你所配备的用品（卫生间防滑垫等）是否齐全，有无破损，如有不全或破损，请立即向酒店服务员报告。如因当地条件所限，未能配备，请游客小心谨慎，防止发生意外。',
                    '3、贵重物品应存放于酒店总台保险柜或自行妥善保管，外出时不要放在房间内。',
                    '4、不要将自己住宿的酒店、房号随便告诉陌生人；不要让陌生人或自称酒店的维修人员随便进入房间；出入房间要锁好房门，睡觉前注意房门窗是否关好，保险锁是否锁上；物品最好放于身边，不要放在靠窗的地方。',
                    '5、游客入住酒店后需要外出时，应告知相关人员；在酒店总台领一张酒店房卡，卡片上有酒店地址、电话或抄写酒店地址或电话；如果您迷路时，可以按地址询问或搭乘出租车，安全顺利返回住所。',
                    '6、遇紧急情况千万不要慌张。发生火警时不要搭乘电梯或随意跳楼；镇定地判断火情，主动地实行自救。若身上着火，可就地打滚，或用重衣物压火苗；必须穿过有浓烟的走廊、通道时，用浸温的衣物披裹身体，捂着口鼻，贴近地、顺墙爬走；大火封门无法逃出时，可采用浸温的衣物披裹身体被褥堵门缝或泼水降温的办法等待救援或摇动色彩鲜艳的衣物呼唤救援人员。',

                ],
                level_txt12:[
                    '二、住宿安全事项'
                ],

                txt13:[
                    '1、在出行地购买食物需注意商品质量，发现食品不卫生或有异味变质的情况，切勿食用。',
                    '2、不要接受和食用陌生人赠送的香烟、食物和饮品，防止意外发生。',
                    '3、出行期间要合理饮食，不要暴饮、暴食或贪食。',
                    '4、为防止在出行中水土不服，游客应自备一些常用药物以备不时之需。切勿随意服用他人所提供之药品，如有需要，可随时联系角落向导人员。',
                    '5、角落里不提倡、不安排饮酒，并对游客因饮酒发生的意外不承担责任。喜欢饮酒的游客在旅途中应严格控制自己的酒量，饮酒时最好不超过本人平时的三分之一；若出现酗酒闹事、扰乱社会秩序、侵害他人权益以及造成自身损害的一切责任由肇事者承担。',

                ],
                level_txt13:[
                    '三、饮食卫生安全事项'
                ],

                txt14:[
                    '1、听取当地角落向导有关安全的提示和忠告，主要应预防意外事故和突发性疾病的发生。',
                    '2、经过危险地段（如陡峭、狭窄的同路、潮湿泛滑的道路等）不可拥挤；前往险峻处观光时应充分考虑自身的条件是否可行，不要强求和存侥幸心理。',
                    '3、游客登山或参与活动中根据应自身身体状况进行，注意适当休息，避免过度激烈运动以及自身身体无法适应的活动，同时做好防护工作。',
                    '4、在水上（包括江河、湖海、水库）浏览或活动时，注意乘船安全要穿戴救生衣；不单独前往深水水域或危险河道。',
                    '5、乘坐缆车或其他载人观光运载工具时，应服从景区工作人员安排；遇超载、超员或其他异常时，千万不要乘坐，以防发生危险。',
                    '6、浏览期间游客应由角落向导陪伴，不要独行。如果迷失方向，原则上应原地等候角落向导的到来或打电话求救、求助，千万不要着急。自由活动期间游客不要走的太远。带未成年人的游客，请认真履行监护责任，管好自己的孩子，不能让未成年人单独行动，并注意安全。',
                    '7、在出行行程中的自由活动时间，游客应当选择自己能够控制风险的活动项目，并在自己能够控制风险的范围内活动。除您特殊要求外，并能完全承担后果。原则上不安排赛车、赛马、攀岩、滑翔、探险性漂流、滑雪、下海、潜水、滑板、跳伞、热气球、蹦极、冲浪、跳伞等高风险活动，也敬请游客在出行中的自由活动期间慎重考虑是否参与并自行评估风险。',

                ],
                level_txt14:[
                    '四、浏览观景安全事项'
                ],

                txt15:[
                    '1、不要轻信流动推销人员的商品推荐。无意购买时，不要向商家问价或还价。如有需要，可选择信任角落里APP角落向导及在线旅行咨询客服的推荐。',
                    '2、要细心鉴别商品真伪，不要急于付款购物。购物时应向商家索取正式发票。',
                    '3、不要跟随除角落向导之外的其他商品推销人员到偏僻地方购物或取物。在热闹拥挤的场所购物或娱乐时，注意保管好自己的钱包、提包、贵重的物品及证件；不要单独行动，不要前往管理混乱的娱乐场所。游客在购物、娱乐时、主要应防止诈骗、盗窃和抢劫事故的发生。',
                    '如有需要，可参考角落向导及在线旅行咨询客服的意见。',
                    '4、在景点内娱乐时，应根据自身的条件参与适应的项目；在自由活动期间外出娱乐活动不要单独行动，不要前往管理混乱的娱乐场所，不要参与涉嫌违法的娱乐活动。',

                ],
                level_txt15:[
                    '五、购物娱乐安全事项'
                ],
                txt16:[
                    '1、注意听从角落向导的安排，记住集中的时间和地点；认清自己所乘坐的车型、车牌号及颜色；不要迟到，因迟到造成的后果由个人负责。',
                    '2、在出行活动中，为了防止火灾事故的发生，请不要携带易燃、易爆物品；不要乱扔烟头和火种。',
                    '3、游客乘坐飞机出行时，应带好自己的有效身份证（小孩应带户口本原件，满16岁未办理身份证的需持派出所带照片户籍证明原件），并注意保存好。请先行核对自己机票上的姓名、往返时间、抵离目的地、航班号是否正确；请注意保存好机票和火车票。如因游客自身原因造成不能登机（车），游客自己负责。',
                    '4、游客在旅途中发生人身或财产意外事故时，按有关机构（如交通运输部门、酒店、保险公司、风景区管理单位）订立的条例或合同规定处理或公安部门查处。角落里尽力提供必要的协助。',
                    '出行安全是出行活动的头等大事，搞好出行安全是角落里与您的共同责任。尊敬的游客，为了您和他人的幸福，请注意出行安全',
                ],
                level_txt16:[
                    '六、其他安全注意事项'
                ],

                txt21:[
                    '营造文明、和谐的出行环境，关系到每位游客的切身利益。做文明游客是我们大家的义务，请遵守以下公约：',
                    '1、维护环境卫生。不随地吐痰和口香糖，不乱扔废弃物，不在禁烟场所吸烟。',
                    '2、遵守公共秩序。不喧哗吵闹，排队遵守秩序，不并行挡道，不在公众场所高声交谈。',
                    '3、保护生态环境。不踩踏绿地，不摘折花木和果实，不追捉、投打、乱喂动物。',
                    '4、保护文物古迹。不在文物古迹上涂刻，不攀爬触摸文物，拍照摄像遵守规定。',
                    '5、爱惜公共设施。不污损客房用品，不损坏公用设施，不贪占小便宜，节约用水用电，用餐不浪费。',
                    '6、尊重别人权利。不强行和外宾合影，不对着别人打喷嚏，不长期占用公共设施，尊重服务人员的劳动，尊重各民族宗教习俗。',
                    '7、讲究以礼待人。衣着整洁得体，不在公共场所袒胸赤膊；礼让老幼病残，礼让女士；不讲粗话。',
                    '8、提倡健康娱乐。抵制封建迷信活动，拒绝黄、赌、毒。',
                ],
            }
        })
    </script>
</body>
</html>