<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>向导服务协议</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <style>
        [v-cloak]{
            display: none !important;
        }
    </style>
</head>
<body style="padding:0.15rem;">
    <div id="customPact" v-cloak>
        <h2 class="txt_center font16">{{ headerTxt }}</h2>
        
        <!-- <p class="level_title" v-for="(item, index) in level_txt1" :key="index">{{ item }}</p> -->
        <p class="font14" v-for="(item, index) in txt1" :key="index">{{ item }}</p>

        <p class="level_title" v-for="(item, index) in level_txt2" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt2" :key="index">{{ item }}</p>
        
        <p class="level_title" v-for="(item, index) in level_txt3" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt3" :key="index">{{ item }}</p>
       
        <p class="level_title" v-for="(item, index) in level_txt4" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt4" :key="index">{{ item }}</p>
        
        <p class="level_title" v-for="(item, index) in level_txt5" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt5" :key="index">{{ item }}</p>
        
        <p class="level_title" v-for="(item, index) in level_txt6" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt6" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt7" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt7" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt8" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt8" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt9" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt9" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt10" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt10" :key="index">{{ item }}</p>
        
        
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/rem.js"></script>
    <script src="vue-mobile-calendar/vue.js"></script>
    <script>
        if (!window.Promise) {
            document.write('<script src="//cdn.jsdelivr.net/npm/es6-promise@4.1.1/dist/es6-promise.min.js"><\/script><script>ES6Promise.polyfill()<\/script>')
        }
    </script>
    <script>
        new Vue({
            el: '#customPact',
            data:{
                headerTxt:'角落里角落向导服务协议',
                txt1:[
                    '“角落里”是青岛角落方舟商务咨询有限公司通过互联网络为您提供一种全新的旅行加社交服务的平台',
                    '角落里角落向导服务协议（下称“本协议”）是青岛角落方舟商务咨询有限公司与角落向导人员（下称“您”）就角落里为您与角落里注册会员之间提供第三方平台相关居间服务事宜的权利义务而订制的协议。请您在进行注册前仔细阅读本协议，确保您已充分理解本协议中各条款的内容。除非您接受本协议所有条款，否则您无权使用本协议所涉服务。您在角落里进行的一切行为将视为对本协议的接受，并同意接受本协议各项条款的约束。',
                    '当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与角落里达成一致，成为角落里角落向导人员。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。',
                    '名词解释：',
                    '1.角落向导服务：角落向导服务为角落里推出的基于旅游咨询开发的一款线上加线下服务的产品。',
                    '2.角落向导服务人员：角落向导服务人员是基于角落里推出的角落向导服务产品，自愿为角落里会员提供线上及线下旅游咨询服务的合法公民。',
                    '3.角落里：包括但不限于网页、角落里APP应用程序、微信小程序、微信公众号平台等。',
                ],
                

                txt2:[
                    '1、您是中华人民共和国（下称“中国”）公民且您须年满18周岁,具有完全民事行为能力；您满足以下角落向导人员标准：您须年满18周岁,具有完全民事行为能力；或您年满16周岁且以自己的劳动收入为主要生活来源，熟悉您所在地区各旅游景点及城市特色风貌，身体健康，无传染疾病；普通话标准，懂外语优先（简单会话即可）无吸毒记录、无精神病史，无不良嗜好，无重大疾病史。遵守中华人民共和国法律法规。不具备前述条件的，您应立即终止注册或停止使用。 ',
                    '2、角落里向您提供平台在线视频工作间进行视频服务，您同意本协议后可使用上述服务进行基于角落里允许的在线旅游咨询和其他允许的视频分享以及与用户进行线上互动。在您在角落里与用户互动期间，角落里仅作为第三方信息平台为您和用户提供居间服务，并有权利根据中国法律法规监督您和用户在角落里发布的各种信息和行为。',
                    '3、您根据本协议和角落里规则，在角落里申请加入角落向导，为同在角落里注册的用户提供在线视频及线下向导咨询服务，与用户互动。您在角落里提供服务期间均应视为协议期内。角落里对您上载的或由您参与、编辑、制作的内容（包括但不限于图片、海报、头像、音频、视频等）进行形式审核，但您仍需对上述内容的真实性、合法性、准确性、及时性等承担相应的法律责任。 ',
                    '4、您在注册或使用本服务的过程中，需要填写或提交一些必要的信息以及提交材料供角落里审核。如您提交的信息不完整或不符合法律法规规定或角落里规定的，则您可能无法注册成功或在使用本服务的过程中受到限制。若您个人信息或联系方式产生变更，您须及时向角落里更新。 ',
                    '5、角落里仅为您提供可供您线上及线下与用户互动的网络平台，您与角落里不构成任何雇佣或劳动关系，不适用《劳动法》、《劳动合同法》、《社会保险法》、《住房公积金管理条例》等法律法规。对于您使用角落里进行线上与线下服务期间导致的任何人身及财产损害，角落里不承担任何责任，除非角落里对损害的发生存在故意或重大过失。',

                    
                ],
                level_txt2:[
                    '第一条 总则 '
                ],

                txt3:[
                    '1、角落里有权定期或不定期对角落里（如互联网网站、移动网络等）协议、规则及行为规范等进行修订及变更，您对此表示理解和同意。 ',
                    '2、角落里有权根据您的申请或角落里公布的规则，将您的管理工作交由角落里委托的其他第三方机构或者代理人负责。 ',
                    '3、角落里和代理人有权根据角落里的规则对您进行考核、评价（考核、评价标准包括但不限于视频工作时间长度、其他社交APP分享打卡、线下出行次数、用户赠与的虚拟礼物数量和种类、用户支持度、用户投诉情况、违法违规情况等），以确定您的收益分配；如果您在角落里中违反法律、法规或角落里的规则与规范，角落里和代理人将采取惩罚措施（包括但不限于扣减您的收益收入，乃至直接封停您的账户）。具体收益分配和惩罚措施详见《角落向导人员收益分配及考核办法》。',
                    '4、在您通过角落里对您提供的信息审核合格后，角落里强烈建议您及时了解并学习包括角落里的培训材料及相关法律法规、平台运行规则和服务规范、安全出行等方面的知识，您也可以自由参加服务类培训课程，这样会提高您自身参与角落里服务的能力和竞争力，对您的个人素质和增加收入有着明显的帮助。角落里有权对您在角落里所作的服务提出改进建议和意见，您应在收到角落里的建议或意见后3日内进行相应的整改，否则角落里有权采取前述惩罚措施。',
                    '5、 角落里有权根据法律法规的规定或者相关部门的要求对您的内容（包括但不限于图片、海报、头像、音频、视频等）的合法性进行审查。如果您在角落里发布的内容存在违法、违规、侵害角落里或第三方合法权益的情形，角落里有权采取禁止您进行视频工作、删除内容、注销账号、配合主管部门调查等措施。',
                    '6、角落里有权在您的视频工作间内标注带有角落里APP logo（或名称）和时间的水印，您需自行根据视频效果做相应调整。 ',
                    '7、角落里负责提供您进行视频及其他使用网络进行互动的平台，并提供技术服务支持。但角落里不担保网络服务一定能满足您的任何要求，不担保网络服务时刻通畅，不担保网络服务的及时性、安全性、准确性。 ',
                    '8、角落里将通过公告、消息推送、电子邮件、手机短信或常规信件传送等方式与您联系或发送相关通知。该等通知于发送之日即视为已送达。',
                    '9、鉴于在线视频的特殊性，您同意角落里有权随时变更、中断或终止部分或全部的视频工作服务。如变更、中断或终止此类服务而造成任何损失，角落里无需对您或任何第三方承担任何责任，但角落里应尽量在变更、中断或终止服务之前事先以公告、邮件或系统弹窗等形式通知您。',

                ],
                level_txt3:[
                    '第二条 服务规则 '
                ],
                
                txt4:[
                    '1、您承诺不会因履行本协议损害第三方合法利益或违反中国法律、法规、规范性规定等，您接受并履行本协议不违反任何对您有约束力的法律文件，亦不会使角落里对任何第三方承担任何责任。 ',
                    '2、您保证有条件、能力、资格履行本协议约定的角落向导服务人员职责及义务',
                    '3、您了解并同意,您基于角落里产生的全部收益最终以角落里后台数据为准；同时您需遵守角落里不时更新的各项包括但不限于《角落向导人员行为规范》等运营制度及角落向导人员管理规则与要求（下称“角落里规则及角落向导人员规范”），以及国家关于该类互联网服务的法律、法规、规范性规定等。',
                    '4、您同意角落里免费使用您的名称（包括但不限于您真实姓名、笔名、网名、曾用名及任何代表您身份的文字符号）和肖像（包括但不限于真人肖像及卡通肖像等）进行角落里及关联企业的各类宣传和推广，并给予必要的配合。',
                    '5、 您保证对您在角落里上传的图片、海报、头像等所有内容拥有所有权或合法使用权，有权上传到角落里并有权授权角落里使用，您确认在平台使用各种互动形式的服务过程中有任何不当行为，或违反法律法规和角落里的相关运营规则，或侵犯第三方合法权益，都由您自行承担相应责任，角落里无需要承担任何责任。如因您的行为而给角落里造成损害的，您应按照本协议约定承担违约责任。',
                    '6、您应自行承担进行视频工作所需要的网络、支持视频和语音的设备（包括但不限于电脑、麦克风、视频装置等硬软件）等条件以及费用（包括但不限于为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费），并保证视频工作间图像和语音质量的清晰、稳定。若因您的网络原因造成直播卡顿或无法观看，角落里有权要求您升级网络，您应在收到角落里的建议或意见后3日内进行相应的整改，否则角落里有权采取相应的惩罚措施。 ',
                    '7、 您在角落里提供的各种线上线下互动服务和发布的所有信息、资讯、言论、行为等均不得涉政、涉枪、涉毒、涉暴、涉黄或其他含有任何违反中国法律、法规及规范性规定的内容，包括但不限于危害国家安全、淫秽色情、虚假、诽谤、恐吓骚扰他人、侵犯他人知识产权、商业秘密或其他合法权益以及有违社会公序良俗的内容或指向上述内容的方式。 ',
                    '8、您须提供真实、准确且合法有效的个人身份信息及联系方式，以完成实名认证；若个人信息或联系方式产生变更，您须及时向角落里更新。 ',
                    '9、您须配合角落里进行人工认证。人工认证时您需在与审核人员视频聊天的过程中回答若干问题，认证过程将不少于1分钟。在审核人员认定您与所提交的资料为同一人且满足认证要求后，予以通过认证。认证过程视频录像将永久保存备查。 ',
                    '10、您承诺遵守诚实信用原则，不扰乱角落里的正常秩序，未经角落里同意不发布商业广告，不得从事除旅游咨询之外无关的活动。 ',
                    '11、您注册的账号和密码是您接受角落里服务的唯一身份凭证，由您自行负责保管并设置密码，禁止赠与、借用、租用、转让或者售卖。您应当对以您帐号进行的所有活动和事件承担全部法律责任。 ',
                    '12、您承诺上述信息包括但不限于在角落里使用的各类账户、银行卡（包括信用卡）、第三方支付账户及对应密码等重要资料，不通过在角落里任何服务过程中透露，也不会将涉及您隐私的信息发表、上传或通过角落里服务提供给其他人，否则由此产生的责任和损失应由您自行承担。 ',
                    '13、您保证不做出任何有损于角落里形象、品牌之行为，否则角落里有权解除协议，并要求您承担全部赔偿责任。',
                    '14、本协议期间及本协议终止后，您均不得以任何方式散播宣传任何有损角落里声誉及形象之言论、图片、视频等，不得以任何方式传播任何虚假消息，不得以鼓动角落里用户等任何方式损害角落里的利益，否则角落里有权要求您进行赔偿（包括但不限于扣减收益收入，直接封停您账户乃至采取法律来维护角落里的合法权益）。 ',
                    '15、如您的视频工作内容有除角落里外的其他第三方参与，您应保证与其他第三方不存在任何的法律纠纷，若存在上述纠纷由您单独负责，概与角落里无关。若造成角落里损失的，您应向角落里赔偿该等损失。 ',
                    '16、您承诺积极维护角落里及角落里形象，您不得做出有损于角落里或角落里形象或利益的行为。本协议期内及协议终止后，您不得通过任何渠道以任何形式发布暗示或不利于角落里的言论。 ',
                    '17、您不得在任何场合以任何形式（包括但不限于在个人动态、个人资料页、视频工作房间名称、海报、视频工作过程和线下互动中以语言、文字、语音、视频、图片、背景、布景等）提及或展示其他与角落里有竞争关系平台的名称、LOGO、注册号、图片，不得引导角落里现有用户、其他角落向导人员或角落里员工进入其他同类平台或为其提供任何服务、信息或便利，否则角落里有权要求您按照本协议约定承担违约责任。 ',
                    '18、角落里只提供平台服务，如您自行与工作室、经纪公司、其他第三方机构或代理人建立合同关系，因此所产生的纠纷，均与角落里无关，角落里将不承担任何责任。',
                    '19、如您受与您签订相关经纪或劳务关系的工作室、经纪公司、其他第三方机构或代理人的委派到角落里进行线上线下互动的，您在角落里获得的所有收益和收入将由角落里全部支付给上述机构，并由上述机构与您结算，您同意不得在任何时间以任何方式就上述收益和收入向角落里提出任何权利请求。',
                    '20、角落里会不定时推出各种有奖励的推广活动。角落向导人员通过各种形式的刷单、作弊行为骗取补贴、奖励等利益的行为涉嫌违法犯罪，角落对该等行为将依法予以严厉打击。角落向导人员应对刷单、作弊及类似的欺骗行为承担相应的违约责任，包括但不限于：支付违约金、暂停接受服务等。同时角落里保留诉诸法律的权利以及随时对角落向导人员承担违约责任的方式和标准进行调整的权利。',
                    '21、您的仪容仪表应满足如下标准：仪容、仪表方面包括服饰美、化妆美和发型美。角落向导人员的着装要符合本地区、本民族的着装习惯和角落向导人员的身份，衣着大方、整齐、简洁，以方便角落向导服务工作；佩戴首饰要适度；不浓妆艳抹，不用味道太浓的香水；不得衣着暴露、低俗。禁止穿着印有低俗、反动或者性暗示文字、图片的衣服。',

                    

                ],
                level_txt4:[
                   '第三条 使用规则 '
                ],

                txt5:[
                   '1、角落里视频/语音服务包括角落里运营的网站、移动应用软件以及内含的文字、图片、视频、音频等元素，角落里对其服务标志、标识以及上述任何元素享有全部知识产权。',
                   '2、您不得对角落里服务涉及的相关网页、应用、软件等产品进行反向工程、反向汇编、反向编译等行为。 ',
                   '3、您在角落里为用户提供服务期间产生的成果（包括但不限于视频、音频，及与本协议事项相关的任何文字、视频、音频等，以下统称“角落向导人员成果”），您许可角落里在全世界范围内免费的、永久性的、不可撤销的、独家的和转授权并获取收益之权利，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及《著作权法》规定的由著作权人享有的其他著作财产权利及邻接权利。 ',


                ],
                level_txt5:[
                   '第四条 知识产权 '
                ],

                txt6:[
                    '1、商业秘密是指由角落里提供的、或者您在使用角落里服务期间了解到的、或者角落里对第三方承担保密义务的，与角落里业务有关的，能为角落里带来经济利益，具有实用性的、非公知的所有信息，包括但不限于技术信息、经营信息和与角落里行政管理有关的信息和文件（含本协议及相关协议内容）、您从角落里获得的服务费用的金额和结算方式、标准、权利归属方式、授权方式、客户名单、客户联系方式、其他角落向导人员的名单、联系方式、服务费用、角落里工作人员名单等不为公众所知的信息。 ',
                    '2、您应严格遵守本协议，未经角落里书面授权或同意，对角落里的商业秘密不得： ',
                    '1) 以任何方式向第三方或不特定的公众进行传播、泄露； ',
                    '2) 为非本协议的目的而使用角落里的商业秘密。',
                    '3、本条款规定在本协议终止后仍然有效。 ',
                ],
                level_txt6:[
                    '第五条 保密义务 '
                ],

                txt7:[
                    '1 保护您的隐私是角落里的一项基本政策，角落里保证不对外公开或向第三方提供您的注册资料及您在使用网络服务时存储在角落里的非公开内容，但下列情况除外：',
                    '1）事先获得您的明确授权；',
                    '2 ）根据有关的法律法规要求；',
                    '3） 按照相关政府主管部门的要求；',
                    '4 ）为维护社会公众的利益；',
                    '5 ）为维护角落里的合法权益。',
                    '2、 角落里可能会与第三方合作向您提供相关的网络服务，在此情况下，如该第三方同意承担与角落里同等的保护用户隐私的责任，则角落里有权将您的注册资料等提供给该第三方。',
                    '3、 在不透露单个角落向导人员隐私资料的前提下，角落里有权对整个角落向导人员数据库进行分析并对上述数据库进行商业上的利用。',

                ],
                level_txt7:[
                    '第六条 隐私保护'
                ],

                txt8:[
                    '1、角落里有权在必要时变更、终止、中止本协议。 ',
                    '2、如果您有下列任何情形，角落里有权立即解除本协议： ',
                    '1) 角落里发现您违反本协议所作的声明与承诺的；',
                    '2) 因您个人行为直接或间接给角落里利益造成损害的；',
                    '3) 违反中国或您所在地法律、法规或规范性规定的；',
                    '4) 违反本协议约定的其它义务；',
                    '5) 以消极、不作为等不符合角落里要求的方式履行本协议，经角落里通知后10日内仍未改正的。 ',
                ],
                level_txt8:[
                    '第七条 协议的变更、解除、终止 '
                ],

                txt9:[
                    '1、如您违反本协议约定，应向角落里支付违约金为十万元，如给守约方造成的损失超过违约金数额，则以实际损失为准，该实际损失包括直接损失和间接损失，如财产损害赔偿和名誉损害赔偿等。',
                    '2、角落里为主张债权支出的律师费、诉讼费、差旅费等所有费用均由您承担。',
                    '3、角落里有权从您分成费用中直接扣除上述违约金及赔偿金。',
                    '4、任何因您的行为而侵害第三人合法权益，导致第三方向角落里提起诉讼、索赔或/和导致角落里声誉受损的，您除了应该按照本条承担违约责任外，还需承担因此产生的全部直接及间接费用、损失等。',

                ],
                level_txt9:[
                    '第八条 违约责任 '
                ],

                txt10:[
                    '1、本协议可由角落里随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，您可在角落里查阅最新版协议条款。在角落里修改协议条款后，如您不接受修改后的条款，请立即停止使用角落里提供的服务，您继续使用角落里提供的服务将被视为接受修改后的协议。 ',
                    '2、与本协议有关的任何争议，应由双方协商解决。协商不成，双方同意由青岛角落方舟商务咨询有限公司住所地人民法院管辖。',


                ], 
                level_txt10:[
                    '第九条 其他 '
                ],
                fu1Title:'出行安全须知及注意事项',
                fu2Title:'中国公民文明出行公约',
                
                txt11:[
                    '1、游客在机、车、船停稳后方可上下机、车、船。并按机场、车站、港口安全管理规定或指示标志通行及排队上下机、车、船；要讲究文明礼貌，先照顾老人、儿童、妇女；切勿拥挤，以免发生意外。请勿携带违禁物品。',
                    '2、在机、车、船临时停靠时期，服从服务人员安排，请勿远离。',
                    '3、游客在乘车途中，请不要与司机交谈和催促司机开快车，违章超速和超车行驶；不要将头、手、脚或行李物品伸出窗外，以防意外发生。',
                    '4、游客下车浏览、就餐、购物时，请注意关好出行车窗，贵重物品请自己随身携带并妥善保管。',
                    '5、游客乘坐飞机时，应注意遵守民航乘机安全管理规定，特别是不要在飞机上使用手机等无线电通讯工具或电子游戏等，建议全程系好安全带。',
                ],
                level_txt11:[
                    '为了增强游客安全意识，普及出行安全基本常识，使游客参加活动的计划圆满、愉快、顺利地完成，请认真阅读本须知并严格履行，防止意外事件。',
                    '一、乘车（机、船）安全事项',
                ],
                
                txt12:[
                    '1、游客入住酒店后，应了解酒店安全须知，熟悉酒店的太平门、安全出路、安全楼梯的位置和安全转移的路线。',
                    '2、注意检查酒店为你所配备的用品（卫生间防滑垫等）是否齐全，有无破损，如有不全或破损，请立即向酒店服务员报告。如因当地条件所限，未能配备，请游客小心谨慎，防止发生意外。',
                    '3、贵重物品应存放于酒店总台保险柜或自行妥善保管，外出时不要放在房间内。',
                    '4、不要将自己住宿的酒店、房号随便告诉陌生人；不要让陌生人或自称酒店的维修人员随便进入房间；出入房间要锁好房门，睡觉前注意房门窗是否关好，保险锁是否锁上；物品最好放于身边，不要放在靠窗的地方。',
                    '5、游客入住酒店后需要外出时，应告知相关人员；在酒店总台领一张酒店房卡，卡片上有酒店地址、电话或抄写酒店地址或电话；如果您迷路时，可以按地址询问或搭乘出租车，安全顺利返回住所。',
                    '6、遇紧急情况千万不要慌张。发生火警时不要搭乘电梯或随意跳楼；镇定地判断火情，主动地实行自救。若身上着火，可就地打滚，或用重衣物压火苗；必须穿过有浓烟的走廊、通道时，用浸温的衣物披裹身体，捂着口鼻，贴近地、顺墙爬走；大火封门无法逃出时，可采用浸温的衣物披裹身体被褥堵门缝或泼水降温的办法等待救援或摇动色彩鲜艳的衣物呼唤救援人员。',

                ],
                level_txt12:[
                    '二、住宿安全事项'
                ],

                txt13:[
                    '1、在出行地购买食物需注意商品质量，发现食品不卫生或有异味变质的情况，切勿食用。',
                    '2、不要接受和食用陌生人赠送的香烟、食物和饮品，防止意外发生。',
                    '3、出行期间要合理饮食，不要暴饮、暴食或贪食。',
                    '4、为防止在出行中水土不服，游客应自备一些常用药物以备不时之需。切勿随意服用他人所提供之药品，如有需要，可随时联系角落向导人员。',
                    '5、角落里不提倡、不安排饮酒，并对游客因饮酒发生的意外不承担责任。喜欢饮酒的游客在旅途中应严格控制自己的酒量，饮酒时最好不超过本人平时的三分之一；若出现酗酒闹事、扰乱社会秩序、侵害他人权益以及造成自身损害的一切责任由肇事者承担。',

                ],
                level_txt13:[
                    '三、饮食卫生安全事项'
                ],

                txt14:[
                    '1、听取当地角落向导有关安全的提示和忠告，主要应预防意外事故和突发性疾病的发生。',
                    '2、经过危险地段（如陡峭、狭窄的同路、潮湿泛滑的道路等）不可拥挤；前往险峻处观光时应充分考虑自身的条件是否可行，不要强求和存侥幸心理。',
                    '3、游客登山或参与活动中根据应自身身体状况进行，注意适当休息，避免过度激烈运动以及自身身体无法适应的活动，同时做好防护工作。',
                    '4、在水上（包括江河、湖海、水库）浏览或活动时，注意乘船安全要穿戴救生衣；不单独前往深水水域或危险河道。',
                    '5、乘坐缆车或其他载人观光运载工具时，应服从景区工作人员安排；遇超载、超员或其他异常时，千万不要乘坐，以防发生危险。',
                    '6、浏览期间游客应由角落向导陪伴，不要独行。如果迷失方向，原则上应原地等候角落向导的到来或打电话求救、求助，千万不要着急。自由活动期间游客不要走的太远。带未成年人的游客，请认真履行监护责任，管好自己的孩子，不能让未成年人单独行动，并注意安全。',
                    '7、在出行行程中的自由活动时间，游客应当选择自己能够控制风险的活动项目，并在自己能够控制风险的范围内活动。除您特殊要求外，并能完全承担后果。原则上不安排赛车、赛马、攀岩、滑翔、探险性漂流、滑雪、下海、潜水、滑板、跳伞、热气球、蹦极、冲浪、跳伞等高风险活动，也敬请游客在出行中的自由活动期间慎重考虑是否参与并自行评估风险。',

                ],
                level_txt14:[
                    '四、浏览观景安全事项'
                ],

                txt15:[
                    '1、不要轻信流动推销人员的商品推荐。无意购买时，不要向商家问价或还价。如有需要，可选择信任角落里APP角落向导及在线旅行咨询客服的推荐。',
                    '2、要细心鉴别商品真伪，不要急于付款购物。购物时应向商家索取正式发票。',
                    '3、不要跟随除角落向导之外的其他商品推销人员到偏僻地方购物或取物。在热闹拥挤的场所购物或娱乐时，注意保管好自己的钱包、提包、贵重的物品及证件；不要单独行动，不要前往管理混乱的娱乐场所。游客在购物、娱乐时、主要应防止诈骗、盗窃和抢劫事故的发生。',
                    '如有需要，可参考角落向导及在线旅行咨询客服的意见。',
                    '4、在景点内娱乐时，应根据自身的条件参与适应的项目；在自由活动期间外出娱乐活动不要单独行动，不要前往管理混乱的娱乐场所，不要参与涉嫌违法的娱乐活动。',

                ],
                level_txt15:[
                    '五、购物娱乐安全事项'
                ],
                txt16:[
                    '1、注意听从角落向导的安排，记住集中的时间和地点；认清自己所乘坐的车型、车牌号及颜色；不要迟到，因迟到造成的后果由个人负责。',
                    '2、在出行活动中，为了防止火灾事故的发生，请不要携带易燃、易爆物品；不要乱扔烟头和火种。',
                    '3、游客乘坐飞机出行时，应带好自己的有效身份证（小孩应带户口本原件，满16岁未办理身份证的需持派出所带照片户籍证明原件），并注意保存好。请先行核对自己机票上的姓名、往返时间、抵离目的地、航班号是否正确；请注意保存好机票和火车票。如因游客自身原因造成不能登机（车），游客自己负责。',
                    '4、游客在旅途中发生人身或财产意外事故时，按有关机构（如交通运输部门、酒店、保险公司、风景区管理单位）订立的条例或合同规定处理或公安部门查处。角落里尽力提供必要的协助。',
                    '出行安全是出行活动的头等大事，搞好出行安全是角落里与您的共同责任。尊敬的游客，为了您和他人的幸福，请注意出行安全',
                ],
                level_txt16:[
                    '六、其他安全注意事项'
                ],

                txt21:[
                    '营造文明、和谐的出行环境，关系到每位游客的切身利益。做文明游客是我们大家的义务，请遵守以下公约：',
                    '1、维护环境卫生。不随地吐痰和口香糖，不乱扔废弃物，不在禁烟场所吸烟。',
                    '2、遵守公共秩序。不喧哗吵闹，排队遵守秩序，不并行挡道，不在公众场所高声交谈。',
                    '3、保护生态环境。不踩踏绿地，不摘折花木和果实，不追捉、投打、乱喂动物。',
                    '4、保护文物古迹。不在文物古迹上涂刻，不攀爬触摸文物，拍照摄像遵守规定。',
                    '5、爱惜公共设施。不污损客房用品，不损坏公用设施，不贪占小便宜，节约用水用电，用餐不浪费。',
                    '6、尊重别人权利。不强行和外宾合影，不对着别人打喷嚏，不长期占用公共设施，尊重服务人员的劳动，尊重各民族宗教习俗。',
                    '7、讲究以礼待人。衣着整洁得体，不在公共场所袒胸赤膊；礼让老幼病残，礼让女士；不讲粗话。',
                    '8、提倡健康娱乐。抵制封建迷信活动，拒绝黄、赌、毒。',
                ],
                
            }
        })
    </script>
</body>
</html>