<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIPpay</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">    
    <!-- vant ui -->
    <link rel="stylesheet" href="../css/vant.css">
    <style>
        [v-cloak] {
            display: none !important;
        }
        .van-loading{
            position: fixed;
            top: 50%;
            margin-top: -38px;
            left: 0;
            right: 0;
            z-index:1000;
        }
        .van-loading__text{
            color:#1989fa;
        }
        .van-overlay{
            background-color:rgba(255,255,255,.7);
        }
    </style>
</head>

<body>
    
    <div id="payVip" v-cloak>
        
        <!-- 顶部 -->
        <div class="pay_gradient pay_vip ">
            <div class="vip_face"><img :src="userImgUrl" alt=""/></div>
            <div class="vip_name">
                <span class="u_name">{{ username }}</span>
                <span class="u_descri">{{ isVip }}</span>
            </div>

        </div>
        <!-- 充值 -->
        <div class="recharge pad_15 pay_item" style="padding-bottom:0px">
            
            <div class="vip_content">
                <div>
                    <div v-for="(item,index) in vipNum" 
                        :key="index"                          
                        class="vip_son"
                        @click="selectMoney(index)"
                        :class="{selected:index === curIndex}"
                        >
                        <p class="p_year">{{ item.year }}</p>
                        <p class="p_money">￥{{ item.money }}</p>
                        <!-- <div>
                            <p class="p_txt">￥{{ item.txt }}</p>
                        </div> -->
                        
                    </div>                                   
                    
                </div>
            </div>
        </div>
        <!-- 支付 -->
        <!-- <div class="payment pad_15 pay_item" style="padding-top:4px;">
            <h5>请选择支付方式</h5>
            <div class="pay_type">
                <div v-for="(item, index) in payOrigin"
                    @click="handlePaytype(index)"
                    :class="{paySelected:index === payIndex}"
                    :key="index">
                    <img :src="item.imgUrl" alt="">
                    <p class="txt_descri">{{ item.txt }}</p>
                </div>                
            </div>
            <p class="pay_txt">充值成功后，到账可能会有一定延迟，请您耐心等待。</p>
        </div> -->
        <!-- 底部支付 -->
        <div class="footer_pay vip_pay">            
            <van-button class="f_pay vip_gradient" @click="goPay" type="default">立即开通</van-button>            
        </div>
        <!-- vip特权 -->
        <h5 class="vip_tqu">vip特权</h5>
        <div class="vip_right">
            <div 
                v-for="(item,index) in vipDescris"
                class="vip_item"
                >
                <img :src="item.vipImg" alt="">
                <h6>{{ item.title}}</h6>
                <p>{{item.txt}}</p>
            </div>
        </div>
        <!-- 加载中 -->
        <van-loading v-show="showVisible" color="#1989fa" type="spinner" size="48px" vertical>加载中...</van-loading>
        <van-overlay :show="showVisible"  ></van-overlay>
        <!-- 提示 -->
        <van-dialog id="van-dialog" ></van-dialog>
    </div>
    
    <script src="../js/rem.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/utils.js"></script>
    <!-- vant -->
    <script src="../js/vant.js"></script>
    <script src="../js/common.js"></script>
    <script>
        if (!window.Promise) {
            document.write(
                '<script src="//cdn.jsdelivr.net/npm/es6-promise@4.1.1/dist/es6-promise.min.js"><\/script><script>ES6Promise.polyfill()<\/script>'
            )
        }
    </script>
    <script>
        let vm = new Vue({
            el: '#payVip',
            data: {
                username:'陈平安',
                userImgUrl:'./img/pic_head.png',
                isVip:'普通会员',
                showVisible:false,
                // 当前选中的index
                curIndex:0,
                payIndex:-1,
                vipNum:[
                    {
                        id:0,
                        month:'12',
                        year:'一年',
                        money:'576',
                        
                    },
                    {
                        id:1,
                        month:'3',
                        year:'三个月',
                        money:'144',
                        
                    },
                    {
                        id:2,
                        month:'1',
                        year:'一个月',
                        money:'48',
                        
                    }
                ],
                // 支付方式
                payOrigin:[
                    
                    {
                        imgUrl:'img/alipay.png',
                        txt:'支付宝支付'
                    },
                    {
                        imgUrl:'img/wechatPay.png',
                        txt:'微信支付'
                    },
                ],
                               
                // 是否选中 支付方式
                // payIsSelect: false,
                vipDescris:[
                    {
                        vipImg:'./img/icon_1.png',
                        title:'无限畅聊',
                        txt:'与所有角落向导无限畅聊'
                    },
                    {
                        vipImg:'./img/icon_2.png',
                        title:'私密信息免费看',
                        txt:'查看所有角落向导信息和照片'
                    },
                    {
                        vipImg:'./img/icon_3.png',
                        title:'增加魅力值',
                        txt:'工作间进入特效弹幕优先看'
                    },
                ],
                // 收集数据
                payData:{
                    // 充值金额
                    money:'',
                    // 支付方式 0支付宝 1微信
                    payType:'',
                },
                

            },
            created(){
                // 获取token
                this.getToken();
                this.getCommonURL();
                // 获取url参数
                //this.getVipData();
                //this.account_no = getMoney();
                // 初始化 money                
                
            },
            methods:{
                // 获取token
                getToken() {
                    var token_id = ''

                    var  header_token1 = window.location.search;
                    header_token1 = header_token1.slice(1).split('&'); // 285 637需要用到
                    for(var item of header_token1){
                        if(item.indexOf('token')>-1){
                            token_id = item.split('=')[1]
                        }
                    }
                    header_token = token_id
                },
                getCommonURL() {
                    var url_id = ''
                    var commonURL1 = window.location.search;
                    //console.log(header_token);
                    commonURL1 = commonURL1.slice(1).split('&'); // 285 637需要用到
                    for(var item of commonURL1){
                        if(item.indexOf('commonURL')>-1){
                            url_id = item.split('=')[1]
                        }
                    }
                    commonURL = 'http://'+url_id;
                },
                // 获取数据
                getVipData(){
                    let param = {
                        header_token:header_token,
                        url:commonURL+'/api/custom/getCustomInfo',
                        
                    }
                    this.showVisible = true
                    myAjax(param).then(res=>{
                    
                        if(res.code == '0000'){
                                                                                    
                            //   名字 会员 头像
                            if(res.data.member_status == 1){
                                this.isVip = '普通会员'
                            }else{
                                this.isVip = '超级会员'
                            }
                            this.username = res.data.nickname
                            this.userImgUrl = res.data.headurl
                            this.showVisible = false
                        }
                        
                    }).catch(err=>{
                        console.log(err)
                    })
                },
                // 选择具体数量
                selectMoney(p){
                    this.curIndex = p;
                    this.moneyIsSelect = false;
                },                
                
                
                // 支付方式
                handlePaytype(i){
                    this.payIndex = this.payData.payType= i;
                                        
                },
                // 立即支付
                goPay(){
                    // console.log(this.curIndex)
                    let _data  = this.vipNum[this.curIndex]
                    // console.log(this.vipNum[this.curIndex])
                    let param = {
                        header_token:'0d424657c96f43d395721f1bdbf9cec8',
                        url: payUlr + '/api/account/rechargeVirtual',
                        data: {
                            memberPrice:this._data.money*100,
                            monthNum:this._data.month,
                            payType:'2',                            
                        }
                    }
                    this.showVisible = true
                    
                    myAjax(param).then(res=>{
                        
                        if(res.code == '0000'){
                            this.showVisible = false                                                        
                                                                                                                                      
                        }
                        
                    }).catch(err=>{
                        console.log(err)
                    })

                },
                
            }
        })
    </script>
</body>

</html>