<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>角落里直播服务协议</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
        [v-cloak]{
            display: none !important;
        }
    </style>
</head>
<body style="padding:0.15rem;">
    <div id="customPact" v-cloak>
        <h2 class="txt_center font16">{{ headerTxt }}</h2>
        <h2 class="font14_w">{{ headerTxt2 }}</h2>
        
        <!-- <p class="level_title" v-for="(item, index) in level_txt1" :key="index">{{ item }}</p> -->
        <p class="font14" v-for="(item, index) in txt1" :key="index">{{ item }}</p>
         
        <p class="level_title" v-for="(item, index) in level_txt01" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt01" :key="index">{{ item }}</p>


        <p class="level_title" v-for="(item, index) in level_txt2" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt2" :key="index">{{ item }}</p>
        
        <p class="level_title" v-for="(item, index) in level_txt3" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt3" :key="index">{{ item }}</p>
       
        <p class="level_title" v-for="(item, index) in level_txt4" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt4" :key="index">{{ item }}</p>
        
        <p class="level_title" v-for="(item, index) in level_txt5" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt5" :key="index">{{ item }}</p>
        
        <p class="level_title" v-for="(item, index) in level_txt6" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt6" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt7" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt7" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt8" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt8" :key="index">{{ item }}</p>
        <p class="level_title" v-for="(item, index) in level_txt9" :key="index">{{ item }}</p>
        <p class="font14" v-for="(item, index) in txt9" :key="index">{{ item }}</p>
        
        
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../vue-mobile-calendar/vue.js"></script>
    <script>
        if (!window.Promise) {
            document.write('<script src="//cdn.jsdelivr.net/npm/es6-promise@4.1.1/dist/es6-promise.min.js"><\/script><script>ES6Promise.polyfill()<\/script>')
        }
    </script>
    <script>
        new Vue({
            el: '#customPact',
            data:{
                headerTxt:'角落里直播服务协议',
                headerTxt2:'',
                level_txt0: [
                    
                ],
                txt1:[
                    '“角落里”是青岛角落方舟商务咨询有限公司通过互联网络为您提供一种全新的旅行加社交的平台',
                    '角落里直播服务协议（下称“本协议”）是青岛角落方舟商务咨询有限公司与直播用户（下称“您”）就角落里为您与角落里其他用户之间提供第三方平台相关居间服务事宜的权利义务而订制的协议。请您在进行注册前仔细阅读本协议，确保您已充分理解本协议中各条款的内容。除非您接受本协议所有条款，否则您无权使用本协议所涉服务。您在角落里进行的一切行为将视为对本协议的接受，并同意接受本协议各项条款的约束。',
                    '当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与角落里达成一致，成为在角落里的主播用户。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。',
                    '名词解释：',
                    '1.角落里：包括但不限于网页、角落里APP应用程序、微信小程序、微信公众号平台等。',
                    '2.网络直播活动：指主播（角落向导）进行的与网络直播相关的活动，包括但不限于通过直播展示唱歌、跳舞、游戏技巧等才艺，在线解说，以及参加比赛、综艺、演出、访谈、广告、代言等商业活动直播',

                    
                ],
                level_txt1:[
                    // '特别提示'
                ],

                level_txt01:[
                    '第一条 总则 '
                ],
                txt01: [
                    '1、您是中华人民共和国（下称“中国”）公民且您须年满18周岁,具有完全民事行为能力；您满足以下角落向导人员标准：您须年满18周岁,具有完全民事行为能力；或您年满16周岁且以自己的劳动收入为主要生活来源，身体健康，无传染疾病；普通话标准，懂外语优先（简单会话即可）无吸毒记录、无精神病史，无不良嗜好，无重大疾病史。 同时，您保证您不是互联网信息办公室、文化和旅游部及各级文化市场综合执法机构、全国"扫黄打非"办公室等相关主管部门公布的警示名单或黑名单中的人员， 且有条件、有能力、有资格履行本协议约定的主播职责及义务，同时该等职责及义务的履行不会导致您违反任何对您有约束力的判决、裁决、合同、协议或其他文件。遵守中华人民共和国法律法规。不具备前述条件的，您应立即终止注册或停止使用。 ',
                    '2、角落里向您提供直播平台进行直播活动，您同意本协议后可使用上述服务进行基于角落里允许的直播和其他允许的视频分享以及与角落里其他用户进行互动。在您在角落里与用户互动期间，角落里仅作为第三方信息平台为您和用户提供居间服务，并有权利根据中国法律法规监督您和用户在角落里发布的各种信息和行为。 ',
                    '3、您根据本协议和角落里规则，在角落里申请加入直播活动，与同在角落里的用户互动。您在角落里直播期间均应视为协议期内。角落里对您上载的或由您参与、编辑、制作的内容（包括但不限于图片、海报、头像、音频、视频等）进行形式审核，但您仍需对上述内容的真实性、合法性、准确性、及时性等承担相应的法律责任。 ',
                    '4、您在注册或使用本服务的过程中，需要填写或提交一些必要的信息以及提交材料供角落里审核（包括但不限于真实身份信息、实名登记的个人移动电话号码等）。如您提交的信息不完整或不符合法律法规规定或角落里规定的，则您可能无法注册成功或在使用本服务的过程中受到限制。若您个人信息或联系方式产生变更，您须及时向角落里更新。 ',
                    '5、角落里仅为您提供可供您与用户互动的网络平台，您与角落里不构成任何雇佣或劳动关系，不适用《劳动法》、《劳动合同法》、《社会保险法》、《住房公积金管理条例》等法律法规。对于您通过使用角落里期间导致的任何人身及财产损害，角落里不承担任何责任。                            ',
                    '6、您承诺并声明，您在平台开展的网络直播活动均符合相关法律规定，且不得以履行本协议为名义，从事违反中华人民共和国及您所在地的相关法律规定的行为。',

                ],

                txt2:[
                    '1、角落里有权定期或不定期对角落里（如互联网网站、移动网络等）协议、规则及行为规范等进行修订及变更，您对此表示理解和同意。 ',
                    '2、在您通过角落里对您提供的信息审核合格后，角落里强烈建议您及时了解并学习包括角落里的平台运行规则及相关法律法规。',
                    '3、 角落里有权根据法律法规的规定或者相关部门的要求对您的内容（包括但不限于图片、海报、头像、音频、视频等）的合法性进行审查。如果您在角落里发布的内容存在违法、违规、侵害角落里或第三方合法权益的情形，角落里有权采取禁止您进行直播、删除内容、注销账号、配合主管部门调查等措施。 ',
                    '4、角落里有权在您的直播间内标注带有角落里APP logo（或名称）和时间的水印，您需自行根据视频效果做相应调整。 ',
                    '5、角落里负责提供您进行直播及其他使用网络进行互动的平台，并提供技术服务支持。但角落里不担保网络服务一定能满足您的任何要求，不担保网络服务时刻通畅，不担保网络服务的及时性、安全性、准确性。 ',
                    '6、角落里将通过公告、消息推送、电子邮件、手机短信或常规信件传送等方式与您联系或发送相关通知。该等通知于发送之日即视为已送达并对您产生约束力，请您务必及时关注。 ',
                    '7、鉴于在线视频的特殊性，您同意角落里有权随时变更、中断或终止部分或全部的直播服务。如变更、中断或终止此类服务而造成任何损失，角落里无需对您或任何第三方承担任何责任，但角落里应尽量在变更、中断或终止服务之前事先以公告、邮件或系统弹窗等形式通知您。',

                    
                ],
                level_txt2:[
                    '第二条 服务规则 '
                ],

                txt3:[
                    '1、您承诺不会因履行本协议损害第三方合法利益或违反中国法律、法规、规范性规定等，您接受并履行本协议不违反任何对您有约束力的法律文件，亦不会使角落里对任何第三方承担任何责任。 ',
                    '3、您了解并同意,您基于角落里产生的全部收益最终以角落里后台数据为准；同时您需遵守角落里不时更新的各项管理规则与要求，以及国家关于该类互联网服务的法律、法规、规范性规定等。 ',
                    '4、您同意角落里免费使用您的名称（包括但不限于您真实姓名、笔名、网名、曾用名及任何代表您身份的文字符号）和肖像（包括但不限于真人肖像及卡通肖像等）进行角落里及关联企业的各类宣传和推广，并给予必要的配合。 ',
                    '5、 您保证对您在角落里上传的图片、海报、头像等所有内容拥有所有权或合法使用权，有权上传到角落里并有权授权角落里使用，您确认在平台使用各种互动形式的服务过程中有任何不当行为，或违反法律法规和角落里的相关运营规则，或侵犯第三方合法权益，都由您自行承担相应责任，角落里无需要承担任何责任。如因您的行为而给角落里造成损害的，您应按照本协议约定承担违约责任。',
                    '6、您应自行承担进行直播所需要的网络、支持视频和语音的设备（包括但不限于电脑、麦克风、视频装置等硬软件）等条件以及费用（包括但不限于为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费），并保证直播间图像和语音质量的清晰、稳定。若因您的网络原因造成直播卡顿或无法观看，角落里有权要求您升级网络。 ',
                    '7、 您在角落里发布的所有信息、资讯、言论、行为等均不得涉政、涉枪、涉毒、涉暴、涉黄或其他含有任何违反中国法律、法规及规范性规定的内容，包括但不限于危害国家安全、淫秽色情、虚假、诽谤、恐吓骚扰他人、侵犯他人知识产权、商业秘密或其他合法权益以及有违社会公序良俗的内容或指向上述内容的方式。                            ',
                    '8、  您的行为（包括但不限于艺术行为、表演行为及各种其他行为，以下并称“行为”）应符合法律法规、行业自律公约、平台规则及本协议之规定，角落里有权依据前述规定对您的行为进行管理，包括但不限于：',
                    '您的网络表演不得包含违反法律规定、违背公序良俗之内容，包括但不限于：',
                    '法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的内容；',
                    '色情、低俗、轻浮及裸露的音频及视频内容；',
                    '反对宪法所确定的基本原则，或危害国家统一、主权和领土完整的言论；',
                    '歪曲、丑化、亵渎、否定英雄烈士事迹和精神，以侮辱、诽谤或其他方式侵害英雄烈士姓名、肖像、名誉、荣誉的内容；',
                    '表演方式恐怖、残忍、暴力血腥、低俗，危害表演者自身或他人身心健康的内容；',
                    '任何暴力和/或自残的内容；',
                    '任何危害或可能危害自身或他人生命健康、财产安全的内容，包括但不限于利用刀具等危险器械表演、高空攀岩等；',
                    '怂恿、诱导他人参与可能会造成人身伤亡或财产损失的危险或违法活动的内容；',
                    '利用人体缺陷或以展示人体变异等方式招徕用户的；',
                    '以偷拍偷录等方式，侵害他人合法权益的；',
                    '以虐待动物等方式进行表演的；',
                    '使用未取得网络游戏出版物号的网络游戏产品进行网络游戏技法展示或解说，或对该等网络游戏产品进行宣传推广的；',
                    '侵害未成年人合法权益、损害未成年人身心健康，或可能引发未成年人模仿不安全行为及违反社会公德行为、诱导未成年人不良嗜好的；',
                    '侮辱、诽谤他人，或在直播间肆意喧哗、辱骂观众或其他用户、挑起用户间矛盾等；',
                    '不当仪容仪态和行为方式的内容；',
                    '不当评述自然灾害、疫情、重大事故等灾难等内容。',
                    '9、您不得利用平台提供的直播及相关服务，在平台内、外进行任何违法违规或不当行为（包括但限于诈骗、赌博、非法转移财产、传播虚假信息等）， 如您发生上述行为或平台有理由相信您发生了上述行为（如平台收到相关投诉等），平台有权根据实际情况对您采取包括但不限于暂停支付收益、冻结或封禁帐号的措施，同时还有权保存您的相关信息并向相关执法、 司法机构提供以依法追究您的法律责任。如因此给平台造成了任何损失的，平台有权向您全额追偿。',
                    '8、若您需要在角落里开通直播间，您须提供真实、准确且合法有效的个人身份信息及联系方式，以完成实名认证；若个人信息或联系方式产生变更，您须及时向角落里更新。 ',
                    '9、您须配合角落里进行人工认证。在审核人员认定您与所提交的资料为同一人且满足认证要求后，予以通过认证。',
                    '10、您承诺遵守诚实信用原则，不扰乱角落里的正常秩序，未经角落里同意不发布商业广告。 ',
                    '11、如经角落里内部评估，角落里做出对特定用户在平台的消费金额予以退还之决策的（包括但不限于未成年人、无民事行为能力人、限制民事行为能力人消费而应退款，用户使用违法收入消费的情形等），您应当无条件就您已获得的与特定用户消费金额相对应的分成收益进行退款，且您授权角落里有权在您于平台待收取的分成收益中直接扣除， 如您的当期分成收益金额不足需退款金额的，您应在角落里发生通知后5个工作日内按照角落里告知的方式支付，如您未按时支付的，则角落里有权在您后续产生的分成收益中予以扣除。',
                    '12、如经角落里核查，认定您在平台待收取的分成收益或您已获支付的分成收益中含有无效收益（包括但不限于您因违法违规直播所产生的收益， 您因您自己或其他用户的作弊行为而获取的收益，应司法、行政机关要求您应退款的收益等）的，您授权角落里有权在您于平台待收取的分成收益中直接扣除该等无效收益，如您的当期分成收益金额少于无效收益金额的， 您应在角落里发生通知后5个工作日内按照角落里告知的方式补足，如您未按时补足的，则角落里有权在您后续产生的分成收益中予以扣除。',
                    '13、您注册的账号和密码是您接受角落里服务的唯一身份凭证，由您自行负责保管并设置密码，禁止赠与、借用、租用、转让或者售卖。您应当对以您帐号进行的所有活动和事件承担全部法律责任。 ',
                    '14、您承诺上述信息包括但不限于在角落里使用的各类账户、银行卡（包括信用卡）、第三方支付账户及对应密码等重要资料，不通过在角落里任何服务过程中透露，也不会将涉及您隐私的信息发表、上传或通过角落里服务提供给其他人，否则由此产生的责任和损失应由您自行承担。 ',
                    '15、您保证不做出任何有损于角落里形象、品牌之行为，否则角落里有权解除协议，并要求您承担全部赔偿责任。 ',
                    '16、本协议期间及本协议终止后，您均不得以任何方式散播宣传任何有损角落里声誉及形象之言论、图片、视频等，不得以任何方式传播任何虚假消息，不得以鼓动角落里用户等任何方式损害角落里的利益，否则角落里有权要求您进行赔偿（包括但不限于扣减收益收入，直接封停您账户乃至采取法律来维护角落里的合法权益）。 ',
                    '17、如您的直播内容有除角落里外的其他第三方参与，您应保证与其他第三方不存在任何的法律纠纷，若存在上述纠纷由您单独负责，概与角落里无关。若造成角落里损失的，您应向角落里赔偿该等损失。 ',
                    '18、您承诺积极维护角落里及角落里形象，您不得做出有损于角落里或角落里形象或利益的行为。本协议期内及协议终止后，您不得通过任何渠道以任何形式发布暗示或不利于角落里的言论。 ',
                    '19、您不得在任何场合以任何形式（包括但不限于在个人动态、个人资料页、直播房间名称、海报、直播过程和线下互动中以语言、文字、语音、视频、图片、背景、布景等）提及或展示其他与角落里有竞争关系平台的名称、LOGO、注册号、图片，不得引导角落里现有用户、其他角落向导人员或角落里员工进入其他同类平台或为其提供任何服务、信息或便利，否则角落里有权要求您按照本协议约定承担违约责任。 ',
                    '20、角落里只提供平台服务，如您自行与工作室、经纪公司、其他第三方机构或代理人建立合同关系，因此所产生的纠纷，均与角落里无关，角落里将不承担任何责任。',
                    '21、您的仪容仪表应满足如下标准：仪容、仪表方面包括服饰美、化妆美和发型美。角落向导人员的着装要符合本地区、本民族的着装习惯和角落向导人员的身份，衣着大方、整齐、简洁。不得衣着暴露、低俗。禁止穿着印有低俗、反动或者性暗示文字、图片的衣服。',

                    
                ],
                level_txt3:[
                    '第三条 使用规则'
                ],

                txt4:[
                '1、角落里视频/语音服务包括角落里运营的网站、移动应用软件以及内含的文字、图片、视频、音频等元素，角落里对其服务标志、标识以及上述任何元素享有全部知识产权。 ',
                '2、您不得对角落里服务涉及的相关网页、应用、软件等产品进行反向工程、反向汇编、反向编译等行为。 ',
                '3、您在角落里活动期间产生的成果（包括但不限于视频、音频，及与本协议事项相关的任何文字、视频、音频等，以下统称“用户成果”），您许可角落里在全世界范围内免费的、永久性的、不可撤销的、独家的和转授权并获取收益之权利，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及《著作权法》规定的由著作权人享有的其他著作财产权利及邻接权利。 ',


                ],
                level_txt4:[
                '第四条 知识产权 '
                    
                ],

                txt5:[
                '1、商业秘密是指由角落里提供的、或者您在使用角落里服务期间了解到的、或者角落里对第三方承担保密义务的，与角落里业务有关的，能为角落里带来经济利益，具有实用性的、非公知的所有信息，包括但不限于技术信息、经营信息和与角落里行政管理有关的信息和文件（含本协议及相关协议内容）、您从角落里获得的费用的金额和结算方式、标准、权利归属方式、授权方式、客户名单、客户联系方式、其他角落向导人员的名单、联系方式、服务费用、角落里工作人员名单等不为公众所知的信息。 ',
                '2、您应严格遵守本协议，未经角落里书面授权或同意，对角落里的商业秘密不得： ',
                '1) 以任何方式向第三方或不特定的公众进行传播、泄露； ',
                '2) 为非本协议的目的而使用角落里的商业秘密。 ',
                '3、本条款规定在本协议终止后仍然有效。',

                ],
                level_txt5:[
                '第五条 保密义务 '
                    
                ],

                txt6:[
                    '1 保护您的隐私是角落里的一项基本政策，角落里保证不对外公开或向第三方提供您的注册资料及您在使用网络服务时存储在角落里的非公开内容，但下列情况除外：',
                    '1）事先获得您的明确授权；',
                    '2 ）根据有关的法律法规要求；',
                    '3） 按照相关政府主管部门的要求；',
                    '4 ）为维护社会公众的利益；',
                    '5 ）为维护角落里的合法权益。',
                    '2、 角落里可能会与第三方合作向您提供相关的网络服务，在此情况下，如该第三方同意承担与角落里同等的保护用户隐私的责任，则角落里有权将您的注册资料等提供给该第三方。',
                    '3、 在不透露单个用户隐私资料的前提下，角落里有权对整个用户数据库进行分析并对上述数据库进行商业上的利用。',

                ],
                level_txt6:[
                '第六条 隐私保护'
                    
                ],

                txt7:[
                    '1、角落里有权在必要时变更、终止、中止本协议。 ',
                    '2、如果您有下列任何情形，角落里有权立即解除本协议： ',
                    '1) 角落里发现您违反本协议所作的声明与承诺的； ',
                    '2) 因您个人行为直接或间接给角落里利益造成损害的； ',
                    '3) 违反中国或您所在地法律、法规或规范性规定的； ',
                    '4) 违反本协议约定的其它义务； ',
                    '5) 以消极、不作为等不符合角落里要求的方式履行本协议，经角落里通知后10日内仍未改正的。',
                    '6）因异常情形的出现，公司认为您不适合进行本协议下服务事项，经公司通知后合理期限内异常情形仍未消除的 ',
                    '7）因平台业务调整，公司不再提供直播及相关服务的。',


                ],
                level_txt7:[
                '第七条 协议的变更、解除、终止'
                   
                ],

                txt8:[
                    '1、如您违反本协议约定，应向角落里支付违约金为十万元，如给守约方造成的损失超过违约金数额，则以实际损失为准，该实际损失包括直接损失和间接损失，如财产损害赔偿和名誉损害赔偿等。',
                    '2、角落里为主张债权支出的律师费、诉讼费、差旅费等所有费用均由您承担。',
                    '3、角落里有权从您分成费用中直接扣除上述违约金及赔偿金。',
                    '4、任何因您的行为而侵害第三人合法权益，导致第三方向角落里提起诉讼、索赔或/和导致角落里声誉受损的，您除了应该按照本条承担违约责任外，还需承担因此产生的全部直接及间接费用、损失等。',
                ],
                level_txt8:[
                    '第七条 违约责任'
                    
                ],

                txt9:[
                '1、本协议可由角落里随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，您可在角落里查阅最新版协议条款。在角落里修改协议条款后，如您不接受修改后的条款，请立即停止使用角落里提供的服务，您继续使用角落里提供的服务将被视为接受修改后的协议。 ',
                '2、与本协议有关的任何争议，应由双方协商解决。协商不成，双方同意由青岛角落方舟商务咨询有限公司住所地人民法院管辖。',


                ],
                level_txt9:[
                '第八条 其他'
                   
                ],

                
            }
        })
    </script>
</body>
</html>